<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.config.mapper.ConfigMapper">
    <resultMap id="ConfigEntityMap" type="com.lambda.fusion.config.model.entity.ConfigEntity">
        <id column="PROPERTY_ID" property="id"/>
        <result column="PROPERTY_NAME" property="name"/>
        <result column="PROPERTY_KEY" property="key"/>
        <result column="PROPERTY_VALUE" property="value"/>
        <result column="PROPERTY_TYPE" property="type"/>
        <result column="PROPERTY_DESC" property="description"/>
        <result column="APPLICATION" property="application"/>
        <collection property="options" ofType="com.lambda.fusion.config.model.entity.ConfigOptionEntity">
            <id column="OPTION_ID" property="id"/>
            <result column="OPTION_NAME" property="name"/>
            <result column="OPTION_VALUE" property="value"/>
            <result column="OPTION_DESC" property="description"/>
            <result column="APPLICATION" property="application"/>
            <result column="PROPERTY_ID" property="pid"/>
        </collection>
    </resultMap>

    <resultMap id="ConfigVOMap" type="com.lambda.fusion.config.model.Config">
        <id column="PROPERTY_ID" property="id"/>
        <result column="PROPERTY_NAME" property="name"/>
        <result column="PROPERTY_KEY" property="key"/>
        <result column="PROPERTY_VALUE" property="value"/>
        <result column="PROPERTY_TYPE" property="type"/>
        <result column="PROPERTY_DESC" property="description"/>
        <result column="APPLICATION" property="application"/>
        <collection property="options" ofType="com.lambda.fusion.config.model.ConfigOption">
            <id column="OPTION_ID" property="id"/>
            <result column="OPTION_NAME" property="name"/>
            <result column="OPTION_VALUE" property="value"/>
            <result column="OPTION_DESC" property="description"/>
        </collection>
    </resultMap>

    <select id="selectConfigPage" resultMap="ConfigVOMap">
        select t1.property_id, t1.property_name, t1.property_key, t1.property_value, t1.property_type, t1.property_desc, t1.application
        from la_configs t1
        <where>
            <if test="parameters != null">
                <if test="parameters.key != null and parameters.key != ''">
                    t1.property_key like concat(#{parameters.key}, '%')
                </if>
                <choose>
                    <when test="parameters.tenantOnly != null and parameters.tenantOnly == 1">
                        and t1.application in ('tenant_custom', 'tenant_system')
                    </when>
                    <otherwise>
                        <if test="parameters.application != null and parameters.application != ''">
                            and t1.application = #{parameters.application}
                        </if>
                    </otherwise>
                </choose>
                <if test="parameters.name != null and parameters.name != ''">
                    and t1.property_name like concat('%', #{parameters.name}, '%')
                </if>
            </if>
        </where>
        order by t1.property_key
    </select>

    <select id="checkExist" resultType="boolean">
        select case when count(1) > 0 then 1 else 0 end
        from la_configs
        where property_key = #{key} and application = #{application}
    </select>

    <select id="selectConfigById" resultMap="ConfigEntityMap">
        select t1.property_id, t1.property_name, t1.property_key, t1.property_value, t1.property_type, t1.property_desc,
            t1.application, t2.option_id, t2.option_name, t2.option_value, t2.option_desc
        from la_configs t1
            left join la_config_options t2 on t1.property_id = t2.property_id and t1.application = t2.application
        where t1.property_id = #{id}
    </select>

    <select id="selectAllSystemConfigs" resultMap="ConfigEntityMap">
        select t1.property_id, t1.property_name, t1.property_key, t1.property_value, t1.property_type, t1.property_desc, t1.application,
            t2.option_id, t2.option_name, t2.option_value, t2.option_desc
        from la_configs t1
            left join la_config_options t2 on t1.property_id = t2.property_id and t1.application = t2.application
        <where>
            <if test="application != null and application != ''">t1.application = #{application}</if>
            <if test="ids != null and ids.size() > 0">
                and t1.property_id in
                <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach>
            </if>
        </where>
        order by t1.property_key
    </select>
</mapper>