<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.role.mapper.AccessPermissionMapper">

    <delete id="deletePermission">
        delete from la_role_resources where authority = #{authority} and resource_id = #{id}
        <if test="tenantId != null and tenantId != ''">
            and tenant_id = #{tenantId, jdbcType=VARCHAR}
        </if>
    </delete>

    <select id="noAnyChildrenPermission" resultType="java.lang.Boolean">
        select 1 - count(1) from dual where exists (
            select 1 from la_role_resources t
            inner join la_resources t2 on t.resource_id = t2.id
            where t.authority = #{authority}
            <if test="tenantId != null and tenantId != ''">
                and t.tenant_id = #{tenantId, jdbcType=VARCHAR}
            </if>
            and (t2.parent_keys like concat('%', concat(#{id}, '-%')) or t2.parent_id = #{id})
        )
    </select>
</mapper>