<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.role.mapper.AccessPermissionMapper">

    <delete id="deletePermission">
        DELETE FROM LA_ROLE_RESOURCES WHERE AUTHORITY = #{authority} AND RESOURCE_ID = #{id}
        <if test="tenantId != null and tenantId != ''">
            AND TENANT_ID = #{tenantId, jdbcType=VARCHAR}
        </if>
    </delete>

    <select id="noAnyChildrenPermission" resultType="java.lang.Boolean">
        SELECT 1 - COUNT(1) FROM DUAL WHERE EXISTS (
            SELECT 1 FROM LA_ROLE_RESOURCES T
            INNER JOIN LA_RESOURCES T2 ON T.RESOURCE_ID = T2.ID
            WHERE T.AUTHORITY = #{authority}
            <if test="tenantId != null and tenantId != ''">
                AND T.TENANT_ID = #{tenantId, jdbcType=VARCHAR}
            </if>
            AND (T2.PARENT_KEYS LIKE CONCAT('%', CONCAT(#{id}, '-%')) OR T2.PARENT_ID = #{id})
        )
    </select>
</mapper>
