<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.resource.mapper.ApiResourceMapper">

    <select id="getBoundPermissionIds" resultType="String">
        select permission_id from la_api_resources where resource_id = #{resourceId}
    </select>

    <select id="hasBound" resultType="boolean">
        select count(1) from dual
        where exists(
            select 1 from la_api_resources
            where resource_id = #{resourceId}
              and permission_id = #{permissionId}
        )
    </select>

    <insert id="bind">
        insert into la_api_resources (resource_id, permission_id)
        values (#{resourceId}, #{permissionId})
    </insert>

    <delete id="unbind">
        delete from la_api_resources
        where resource_id = #{resourceId}
          and permission_id = #{permissionId}
    </delete>

</mapper>