<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.authentication.mapper.AuthenticationMapper">
    <resultMap id="LoginUserMap" type="com.lambda.fusion.authority.authentication.model.SimpleUser">
        <id column="username" property="username" javaType="String"/>
        <result column="nickname" property="nickname" javaType="String"/>
        <result column="password" property="password" javaType="String"/>
        <result column="org_id" property="orgId" javaType="String"/>
        <result column="enabled" property="enabled" javaType="Boolean" />
        <result column="tenant_id" property="tenantId" javaType="String"/>
        <result column="expired_time" property="expiredTime"/>
        <collection property="authorities"  ofType="java.lang.String">
            <result column="authority" />
        </collection>
    </resultMap>

    <select id="loadUserDetailByUsername" parameterType="String" resultMap="LoginUserMap">
        <![CDATA[
            SELECT
                T.username,
                T.nickname,
                T.password,
                T.enabled,
                R.authority,
                UO.ORGANIZATION_ID AS orgId,
                T.tenantId AS tenantId,
                T.EXPIRED_TIME
            FROM
                LA_USERS T
                LEFT JOIN LA_USER_ROLES UR ON UR.userid = T.username
                LEFT JOIN LA_ROLES R ON R.authority = UR.authority AND R.enabled = 1
                LEFT JOIN LA_USER_ORGANIZATION UO ON UO.userid = T.username
            WHERE T.username = #{username}
        ]]>
    </select>
    
    <select id="loadUserDetailByMobile" parameterType="String" resultMap="LoginUserMap">
        <![CDATA[
            SELECT
                T.username,
                T.nickname,
                T.password,
                T.enabled,
                R.authority,
                UO.ORGANIZATION_ID AS orgid,
                T.tenantId,
                T.EXPIRED_TIME
            FROM
                LA_USERS T
                LEFT JOIN LA_USER_ROLES UR ON UR.userid = T.username
                LEFT JOIN LA_ROLES R ON R.authority = UR.authority AND R.enabled = 1
                LEFT JOIN LA_USER_ORGANIZATION UO ON UO.userid = T.username
            WHERE T.mobile = #{mobile}
        ]]>
    </select>

    <select id="getNavigationByQuery" resultType="com.lambda.fusion.authority.resource.model.ResourceTree">
        SELECT
        T1.id,
        T1.res_name,
        T1.res_path,
        T1.ico,
        T1.res_rank,
        T1.orderNo,
        T1.parentId,
        T1.res_type,
        T1.hidden,
        T1.res_mode,
        T1.remark,
        T1.res_url,
        T1.key_name,
        T1.keep_alive,
        T1.expand,
        T1.business_expand
        FROM LA_RESOURCES T1
        WHERE T1.res_type != 0
        AND T1.res_mode = #{query.mode}
        <if test="query.ids != null and query.ids.size > 0">
            AND T1.ID IN (
            SELECT DISTINCT T.RESOURCEID FROM LA_ROLE_RESOURCES T WHERE T.AUTHORITY IN
            <foreach collection="query.ids" open="(" close=")" separator="," item="item">#{item}</foreach>
            )
        </if>
        <if test="query.level != null">
            AND T1.res_rank = #{query.level}
        </if>
        <if test="query.parentId != null and query.parentId != ''">
            AND T1.parentKeys LIKE CONCAT(#{query.parentId}, '%')
        </if>
        <if test="query.name != null and query.name != ''">
            AND T1.res_name LIKE CONCAT('%', #{query.name}, '%')
        </if>
        ORDER BY T1.res_rank, T1.parentId, T1.orderNo
    </select>
    
    <select id="getAllResourcesSimpleByQuery" resultType="com.lambda.fusion.authority.resource.model.ResourceTree">
        SELECT
            T1.id,
            T1.res_name,
            T1.parentId,
            T1.business_expand
        FROM LA_RESOURCES T1
        inner join la_role_resources T2 on T1.id = T2.RESOURCEID
        <where>
            <if test="mode != null">
                T1.res_mode = #{mode}
            </if>
            <if test="types != null">
                AND T1.res_type IN <foreach collection="types" open="(" close=")" separator="," item="item">#{item}</foreach>
            </if>
        </where>
        ORDER BY T1.res_rank, T1.parentId, T1.orderNo
    </select>

    <select id="getUsersByRoleId" resultType="com.lambda.fusion.authority.user.model.SimpleUser">
        SELECT
        U.username,
        U.nickname
        FROM
        LA_USER_ROLES UR
        INNER JOIN LA_USERS U ON U.USERNAME = UR.USERID
        AND UR.AUTHORITY = #{roleId}
    </select>

</mapper>