<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.authentication.mapper.AuthenticationMapper">
    <resultMap id="AuthenticationUserDetailMap" type="com.lambda.fusion.authority.authentication.model.AuthUser">
        <id column="username" property="username" javaType="String"/>
        <result column="nickname" property="nickname" javaType="String"/>
        <result column="password" property="password" javaType="String"/>
        <result column="org_id" property="orgId" javaType="String"/>
        <result column="enabled" property="enabled" javaType="Boolean" />
        <result column="tenant_id" property="tenantId" javaType="String"/>
        <result column="expired_time" property="expiredTime"/>
        <collection property="authorities"  ofType="java.lang.String">
            <result column="authority" />
        </collection>
    </resultMap>

    <select id="selectUserDetailByUsername" parameterType="String" resultMap="AuthenticationUserDetailMap">
        <![CDATA[
            select
                t.username,
                t.nickname,
                t.password,
                t.enabled,
                r.authority,
                uo.organization_id as org_id,
                t.tenant_id as tenant_id,
                t.expired_time
            from
                la_users t
                left join la_user_roles ur on ur.username = t.username
                left join la_roles r on r.authority = ur.authority and r.enabled = 1
                left join la_user_organization uo on uo.username = t.username
            where t.username = #{username}
        ]]>
    </select>

    <select id="selectUserDetailsByMobile" parameterType="String" resultMap="AuthenticationUserDetailMap">
        <![CDATA[
            select
                t.username,
                t.nickname,
                t.password,
                t.enabled,
                r.authority,
                uo.organization_id as orgid,
                t.tenant_id as tenantId,
                t.expired_time
            from
                la_users t
                left join la_user_roles ur on ur.username = t.username
                left join la_roles r on r.authority = ur.authority and r.enabled = 1
                left join la_user_organization uo on uo.username = t.username
            where t.mobile = #{mobile}
        ]]>
    </select>

    <select id="selectNavigation" resultType="com.lambda.fusion.authority.authentication.model.MenuRoute">
        select
        t1.id,
        t1.res_name as name,
        t1.res_path as path,
        t1.icon as icon,
        t1.res_level,
        t1.order_no,
        t1.parent_id as pid,
        t1.res_type as type,
        t1.hidden,
        t1.res_mode,
        t1.remark,
        t1.res_url as url,
        t1.key_name,
        t1.keep_alive,
        t1.expand,
        t1.business_expand
        from la_resources t1
        where t1.res_type != 3
        and t1.res_mode = #{query.mode}
        <if test="query.ids != null and query.ids.size > 0">
            and t1.id in (
            select distinct t.resource_id from la_role_resources t where t.authority in
            <foreach collection="query.ids" open="(" close=")" separator="," item="item">#{item}</foreach>
            )
        </if>
        <if test="query.level != null">
            and t1.res_level = #{query.level}
        </if>
        <if test="query.parentId != null and query.parentId != ''">
            and t1.parent_keys like concat(#{query.parentId}, '%')
        </if>
        <if test="query.name != null and query.name != ''">
            and t1.res_name like concat('%', #{query.name}, '%')
        </if>
        order by t1.res_level, t1.parent_id, t1.order_no
    </select>

    <select id="selectResources" resultType="com.lambda.fusion.authority.resource.model.ResourceTree">
        select
            t1.id,
            t1.res_name,
            t1.parent_id,
            t1.business_expand
        from la_resources t1
        inner join la_role_resources t2 on t1.id = t2.resource_id
        <where>
            <if test="mode != null">
                t1.res_mode = #{mode}
            </if>
            <if test="types != null">
                and t1.res_type in <foreach collection="types" open="(" close=")" separator="," item="item">#{item}</foreach>
            </if>
        </where>
        order by t1.res_level, t1.parent_id, t1.order_no
    </select>

    <select id="selectUserProfileByRoleId" resultType="com.lambda.fusion.authority.user.model.UserProfile">
        select u.username,
               u.nickname
        from la_user_roles ur
                 inner join la_users u on u.username = ur.username
            and ur.authority = #{roleId}
    </select>

    <select id="selectAuthoritiesByUsername" resultType="java.lang.String">
        select r.id
        from la_resources r
        where r.res_type = 3
          and (
            exists (select 1
                    from la_role_resources rr
                    where rr.resource_id = r.id
                      and rr.authority in (select authority
                                           from la_user_roles
                                           where username = #{username}
                                           union
                                           select org_r.authority
                                           from la_organization_roles org_r
                                                    inner join la_user_organization uo
                                                               on org_r.organization_id = uo.organization_id
                                           where uo.username = #{username}))
                or exists (select 1
                           from la_organization_resources org_res
                                    inner join la_user_organization uo
                                               on org_res.organization_id = uo.organization_id
                           where org_res.resource_id = r.id
                             and uo.username = #{username})
                or exists (select 1
                           from la_role_resources rr
                           where rr.resource_id = r.id
                             and rr.authority in (select authority
                                                  from la_user_roles
                                                  where username = #{username}
                                                  union
                                                  select org_r.authority
                                                  from la_organization_roles org_r
                                                           inner join la_user_organization uo
                                                                      on org_r.organization_id = uo.organization_id
                                                  where uo.username = #{username}))
            )
    </select>

    <select id="selectPermissionsByUsername" resultType="java.lang.String">
        select distinct lar.permission_id
        from la_resources r
                 join la_api_resources lar on r.id = lar.resource_id
        where exists (select 1
                      from la_role_resources rr
                      where rr.resource_id = r.id
                        and rr.authority in (select authority
                                             from la_user_roles
                                             where username = #{username}
                                             union
                                             select org_r.authority
                                             from la_organization_roles org_r
                                                      inner join la_user_organization uo
                                                                 on org_r.organization_id = uo.organization_id
                                             where uo.username = #{username}))
           or exists (select 1
                      from la_organization_resources org_res
                               inner join la_user_organization uo
                                          on org_res.organization_id = uo.organization_id
                      where org_res.resource_id = r.id
                        and uo.username = #{username})
    </select>

    <select id="selectTenantAdminPermissions" resultType="java.lang.String">
        select distinct lar.permission_id
        from la_resources r
                 join la_api_resources lar on r.id = lar.resource_id
        where exists (select 1
                      from la_role_resources rr
                      where rr.resource_id = r.id
                        and rr.authority in (#{username}))
    </select>

    <select id="selectTenantAdminAuthorities" resultType="java.lang.String">
        select r.id
        from la_resources r
        where r.res_type = 3
          and (
            exists (select 1
                    from la_role_resources rr
                    where rr.resource_id = r.id
                      and rr.authority in (#{username}))
            )
    </select>
</mapper>