<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.client.mapper.ClientMapper">

    <resultMap id="HmacUser" type="com.lambda.fusion.authority.client.model.HmacUser">
        <id column="appid" property="appid" javaType="String"/>
        <result column="secret" property="secret" javaType="String"/>
        <result column="name" property="nickname" javaType="String"/>
        <result column="expired" property="expired" javaType="java.util.Date"/>
        <result column="hosts" property="hosts" javaType="String"/>
        <result column="enabled" property="enabled" javaType="Boolean"/>
        <result column="TENANT_ID" property="tenantId" javaType="String"/>
        <collection property="authorities" ofType="java.lang.String">
            <result column="authority"/>
        </collection>
    </resultMap>

    <select id="getClientById" resultMap="HmacUser">
        select t.id as appid,
               t.secret,
               t.name,
               t.expired,
               t.hosts,
               t.enabled,
               t.tenant_id,
               r.authority
        from la_clients t
                 left join la_user_roles ur on ur.userid = t.id
                 left join la_roles r on r.authority = ur.authority
        where t.id = #{appid}
    </select>

    <select id="getClientPermissions" resultType="com.lambda.fusion.authority.resource.model.UserPermission">
        select client_id as username, resource_id as permissionId from la_client_resources
        where resource_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="getBoundPermissionIds" resultType="String">
        select resource_id from la_client_resources where client_id = #{clientId}
    </select>

    <select id="hasBound" resultType="boolean">
        select count(1) from dual
        where exists(
            select 1 from la_client_resources
            where client_id = #{clientId}
              and resource_id = #{permissionId}
        )
    </select>

    <insert id="bind">
        insert into la_client_resources (client_id, resource_id)
        values (#{clientId}, #{permissionId})
    </insert>

    <delete id="unbind">
        delete from la_client_resources
        where client_id = #{clientId}
          and resource_id = #{permissionId}
    </delete>

</mapper>