<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.organization.mapper.OrganizationMapper">

    <resultMap id="MutableOrganization" type="com.lambda.fusion.authority.organization.model.OrganizationWithUser">
        <id column="username" property="username" javaType="String"/>
        <result column="id" property="id"/>
        <result column="alias" property="alias"/>
        <result column="parentId" property="parentId"/>
    </resultMap>

    <!-- 查询用户组织列表 -->
    <select id="selectOrganizationByUsers" parameterType="com.lambda.fusion.authority.user.model.User"
            resultMap="MutableOrganization">
        select
        t.username as username, o.id, o.alias, o.parent_id as parentId
        from la_user_organization t
        left join la_organization o on o.id = t.organization_id and o.enabled = 1
        where t.username in
        <foreach collection="list" open="(" close=")" separator="," item="user">#{user.username}</foreach>
    </select>

    <resultMap id="Organization" type="com.lambda.fusion.authority.organization.model.Organization">
        <id column="id" property="id"/>
        <result column="organization" property="name"/>
        <result column="alias" property="alias"/>
        <result column="parent_id" property="parentId"/>
        <result column="parent_Keys" property="parentKeys"/>
        <result column="org_type" property="type"/>
        <result column="org_category" property="category"/>
        <result column="org_rank" property="level"/>
        <result column="org_owner" property="owner"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="enabled" property="enabled"/>
        <result column="order_no" property="orderNo"/>
        <result column="created_at" property="createdAt"/>
        <result column="remarks" property="remarks"/>
    </resultMap>
    <!-- 查询用户组织列表 -->
    <select id="selectOrganizations" resultMap="Organization">
        select
            id,
            org_name as organization,
            alias,
            org_owner,
            tenant_id as tenant_id,
            parent_id as parent_id,
            org_rank as org_rank,
            created_at as created_at,
            remarks,
            parent_keys as parent_keys,
            org_category,
            enabled,
            org_type,
            order_no
        from la_organization o
        <where>
            <if test="parameters.enabled == true">
                o.enabled = 1
            </if>
            <if test="parameters.owner != null">
                <choose>
                    <when test="parameters.owner != ''">
                and o.org_owner = #{parameters.owner}
                    </when>
                    <otherwise>
                and o.org_owner is null
                    </otherwise>
                </choose>
            </if>
            <if test="parameters.ids != null and parameters.ids.size > 0">
                and o.id in
                <foreach collection="parameters.ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <choose>
                <when test="parameters.tenantId != null and parameters.tenantId != ''">
                    and o.tenant_id = #{parameters.tenantId}
                </when>
                <otherwise>
                    and o.tenant_id is null
                </otherwise>
            </choose>
        </where>
        order by o.org_rank, o.order_no, o.parent_id, o.org_name
    </select>

    <select id="selectOrganizationsByQuery" resultMap="Organization">
        select
            id,
            org_name as organization,
            alias,
            org_owner,
            tenant_id as tenant_id,
            parent_id,
            org_rank as org_rank,
            created_at ,
            remarks,
            parent_keys as parentKeys,
            org_category,
            enabled,
            org_type,
            order_no
        from la_organization o
        <where>
            <if test="parameters.owner != null">
                <choose>
                    <when test="parameters.owner != ''">
                and o.org_owner = #{parameters.owner}
                    </when>
                    <otherwise>
                and o.org_owner is null
                    </otherwise>
                </choose>
            </if>
            <if test="parameters.name != null and parameters.name != ''">
                and o.org_name like #{parameters.name}
            </if>
            <if test="parameters.alias != null and parameters.alias != ''">
                and o.alias like #{parameters.alias}
            </if>
            <if test="parameters.ids != null and parameters.ids.size > 0">
                and o.id in
                <foreach collection="parameters.ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <choose>
                <when test="parameters.tenantId != null and parameters.tenantId != ''">
                    and o.tenant_id = #{parameters.tenantId}
                </when>
                <otherwise>
                    and o.tenant_id is null
                </otherwise>
            </choose>
        </where>
        order by o.org_rank, o.order_no, o.parent_id, o.org_name
    </select>

    <select id="selectEnabledOrganization" resultType="com.lambda.fusion.authority.organization.model.OrganizationTree">
        select id, alias as name, parent_id as pid
        from la_organization o
        where o.enabled = 1
        <if test="parameters.owner != null">
            <choose>
                <when test="parameters.owner != ''">
                    and o.org_owner = #{parameters.owner}
                </when>
                <otherwise>
                    and o.org_owner is null
                </otherwise>
            </choose>
        </if>
        <if test="parameters.parentKeys != null and parameters.parentKeys != ''">
            and o.parent_keys like #{parameters.parentKeys}
        </if>
        <choose>
            <when test="parameters.tenantId != null and parameters.tenantId != ''">
                and o.tenant_id = #{parameters.tenantId}
            </when>
            <otherwise>
                and o.tenant_id is null
            </otherwise>
        </choose>
        order by o.org_rank, o.order_no, o.parent_id, o.org_name
    </select>

    <!-- 查询用户组织列表 -->
    <select id="selectOrganizationList" resultMap="Organization">
        select
            id,
            org_name as organization,
            alias,
            parent_id,
            org_rank as org_rank,
            created_at ,
            remarks,
            parent_keys
        from la_organization o
        where o.enabled = 1 and o.id in
        <foreach collection="list" open="(" close=")" separator="," item="organ">#{organ.id}</foreach>
    </select>

    <select id="existParent" resultType="boolean">
        select 1 - count(1) from dual where exists (select 1 from la_organization where parent_id = #{id})
    </select>

    <select id="selectOrganizationById" resultMap="Organization">
        select
            id,
            org_name as organization,
            alias,
            parent_id,
            org_rank as org_rank,
            created_at ,
            remarks,
            parent_keys ,
            org_category,
            enabled,
            org_owner,
            tenant_id as tenant_id
        from la_organization o where o.id = #{id}
    </select>

    <select id="selectOrganizationByTenantId" resultMap="Organization">
        select
            id,
            org_name as organization,
            alias,
            parent_id,
            org_rank as org_rank,
            created_at ,
            remarks,
            parent_keys ,
            org_category,
            enabled,
            org_owner,
            tenant_id as tenant_id
        from la_organization t where tenant_id = #{id}
    </select>

    <select id="queryUserOrganization" parameterType="java.lang.String"
            resultType="com.lambda.fusion.authority.organization.model.UserOrganizationChange">
        select username as userId, organization_id as organizationId, tenant_id from la_user_organization where username = #{userId}
    </select>

    <delete id="deleteUserOrganizationByUser">
        delete from la_user_organization where username = #{userId}
    </delete>

    <delete id="deleteUserOrganizationByOrg">
        delete from la_user_organization where organization_id = #{userId}
    </delete>

    <insert id="addUserOrganization" parameterType="com.lambda.fusion.authority.organization.model.UserOrganizationChange">
        insert into la_user_organization (username, organization_id, tenant_id) values (#{userId}, #{organizationId}, #{tenantId, jdbcType=VARCHAR})
    </insert>

    <update id="updateUserOrganization"
            parameterType="com.lambda.fusion.authority.organization.model.UserOrganizationChange">
        update la_user_organization set organization_id = #{organizationId} where username = #{userId}
    </update>

    <select id="selectChildrenByOrganizationId" resultType="java.lang.String">
        select id from la_organization t where t.parent_keys like concat(#{id},'%') order by parent_keys
    </select>

    <select id="selectSubOrganizationsById" resultMap="Organization">
        select id, org_category from la_organization t where t.parent_keys like concat(#{id},'-%') or t.parent_keys = #{id} order by parent_keys
    </select>

    <update id="updateEnabledOrganizationByIds">
        update la_organization set enabled = #{enabled} where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </update>

    <update id="updateEnabledRoleByOrganizationByIds">
        update la_roles t set t.enabled = #{enabled} where t.owner in
        <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </update>

    <update id="updateEnabledOrganizationUsersByTenantIds">
        update la_users t set t.enabled = #{enabled} where t.tenant_id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </update>

    <update id="updateEnabledOrganizationUsersByOrgIds">
        update la_users t set t.enabled = #{enabled} where t.username in (
            select t2.username from la_user_organization t2
            inner join la_organization t3 on t2.organization_id = t3.id
            where t3.id in
            <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
        )
    </update>

    <select id="existUser" parameterType="string" resultType="java.lang.Boolean">
        select count(1) from dual where exists
        (select 1 from la_user_organization t where t.organization_id in <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>)
    </select>

    <select id="existTenantOrganization" parameterType="string" resultType="java.lang.Boolean">
        select count(1) from dual where exists (select 1 from la_organization t where t.org_owner = #{orgId} and t.org_category = 1 and t.enabled = 1)
    </select>

    <delete id="deleteOrgByIdList">
        delete from la_user_organization where organization_id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </delete>

    <delete id="deleteUserOrgByIdList">
        delete from la_organization where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </delete>


    <select id="selectChildren" resultMap="Organization">
        select
            id as id,
            alias as alias,
            parent_id,
            org_rank as org_rank,
            parent_keys ,
            order_no as order_no
        from la_organization t
        <where>
            <choose>
                <when test="pid != null">t.parent_id = #{pid}</when>
                <otherwise>t.parent_id is null</otherwise>
            </choose>
        </where>
        order by order_no
    </select>
    <select id="selectOrganizationsByParentKeys" resultMap="Organization">
        select
            id as id,
            alias as alias,
            parent_id,
            org_rank as org_rank,
            parent_keys ,
            order_no as order_no
        from la_organization t
        where (t.parent_keys = #{parentKeys} or t.parent_keys like concat(#{parentKeys},'-%'))
        order by t.org_rank, t.order_no
    </select>
    <update id="updateAffectedNodesAfterMove">
        update la_organization t set
        t.org_rank = case
        <foreach collection="list" item="item">
            when id = #{item.id} then #{item.level}
        </foreach>
        end,
        parent_id = case
        <foreach collection="list" item="item">
            when id = #{item.id} then #{item.parentId}
        </foreach>
        end,
        parent_keys = case
        <foreach collection="list" item="item">
            when id = #{item.id} then #{item.parentKeys}
        </foreach>
        end,
        order_no = case
        <foreach collection="list" item="item">
            when id = #{item.id} then #{item.orderNo}
        </foreach>
        end
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

</mapper>
