<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.organization.mapper.OrganizationMapper">

    <resultMap id="MutableOrganization" type="com.lambda.fusion.authority.organization.domain.OrganizationWithUser">
        <id column="username" property="username" javaType="String"/>
        <result column="id" property="id"/>
        <result column="alias" property="alias"/>
        <result column="parentId" property="parentId"/>
    </resultMap>

    <!-- 查询用户组织列表 -->
    <select id="selectOrganizationByUsers" parameterType="com.lambda.fusion.authority.user.model.User"
            resultMap="MutableOrganization">
        SELECT
        T.USERNAME as username, O.ID, O.ALIAS, O.PARENT_ID AS parentId
        FROM LA_USER_ORGANIZATION T
        LEFT JOIN LA_ORGANIZATION O ON O.ID = T.ORGANIZATION_ID AND O.ENABLED = 1
        WHERE T.USERNAME IN
        <foreach collection="list" open="(" close=")" separator="," item="user">#{user.username}</foreach>
    </select>

    <resultMap id="Organization" type="com.lambda.fusion.authority.organization.domain.Organization">
        <id column="id" property="id"/>
        <result column="organization" property="name"/>
        <result column="alias" property="alias"/>
        <result column="parent_id" property="parentId"/>
        <result column="parent_Keys" property="parentKeys"/>
        <result column="org_type" property="type"/>
        <result column="org_category" property="category"/>
        <result column="org_rank" property="level"/>
        <result column="org_owner" property="owner"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="enabled" property="enabled"/>
        <result column="order_no" property="orderNo"/>
        <result column="create_date" property="createDate"/>
        <result column="remarks" property="remarks"/>
    </resultMap>
    <!-- 查询用户组织列表 -->
    <select id="selectOrganizations" resultMap="Organization">
        SELECT
            ID,
            ORG_NAME AS organization,
            ALIAS,
            ORG_OWNER,
            TENANT_ID AS tenant_id,
            PARENT_ID AS parent_id,
            ORG_RANK AS org_rank,
            CREATE_DATE AS create_date,
            REMARKS,
            PARENT_KEYS AS parent_keys,
            ORG_CATEGORY,
            ENABLED,
            ORG_TYPE,
            ORDER_NO
        FROM LA_ORGANIZATION O
        <where>
            <if test="parameters.enabled == true">
                O.ENABLED = 1
            </if>
            <if test="parameters.owner != null">
                <choose>
                    <when test="parameters.owner != ''">
                AND O.ORG_OWNER = #{parameters.owner}
                    </when>
                    <otherwise>
                AND O.ORG_OWNER IS NULL
                    </otherwise>
                </choose>
            </if>
            <if test="parameters.ids != null and parameters.ids.size > 0">
                AND O.ID IN
                <foreach collection="parameters.ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="parameters.tenantId == null || parameters.tenantId == ''">
                AND O.TENANT_ID IS NULL
            </if>
        </where>
        ORDER BY O.ORG_RANK, O.ORDER_NO, O.PARENT_ID, O.ORG_NAME
    </select>

    <select id="selectOrganizationsByQuery" resultMap="Organization">
        SELECT
            ID,
            ORG_NAME AS organization,
            ALIAS,
            ORG_OWNER,
            TENANT_ID AS tenant_id,
            PARENT_ID,
            ORG_RANK AS org_rank,
            CREATE_DATE ,
            REMARKS,
            PARENT_KEYS AS parentKeys,
            ORG_CATEGORY,
            ENABLED,
            ORG_TYPE,
            ORDER_NO
        FROM LA_ORGANIZATION O
        <where>
            <if test="parameters.owner != null">
                <choose>
                    <when test="parameters.owner != ''">
                AND O.ORG_OWNER = #{parameters.owner}
                    </when>
                    <otherwise>
                AND O.ORG_OWNER IS NULL
                    </otherwise>
                </choose>
            </if>
            <if test="parameters.name != null and parameters.name != ''">
                AND O.ORG_NAME LIKE #{parameters.name}
            </if>
            <if test="parameters.alias != null and parameters.alias != ''">
                AND O.ALIAS LIKE #{parameters.alias}
            </if>
            <if test="parameters.ids != null and parameters.ids.size > 0">
                AND O.ID IN
                <foreach collection="parameters.ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY O.ORG_RANK, O.ORDER_NO, O.PARENT_ID, O.ORG_NAME
    </select>

    <select id="selectEnabledOrganization" resultType="com.lambda.fusion.authority.organization.domain.OrganizationTree">
        SELECT ID, ALIAS AS name, PARENT_ID AS pid
        FROM LA_ORGANIZATION O
        WHERE O.ENABLED = 1
        <if test="parameters.owner != null">
            <choose>
                <when test="parameters.owner != ''">
                    AND O.ORG_OWNER = #{parameters.owner}
                </when>
                <otherwise>
                    AND O.ORG_OWNER IS NULL
                </otherwise>
            </choose>
        </if>
        <if test="parameters.parentKeys != null and parameters.parentKeys != ''">
            AND O.PARENT_KEYS LIKE #{parameters.parentKeys}
        </if>
        ORDER BY O.ORG_RANK, O.ORDER_NO, O.PARENT_ID, O.ORG_NAME
    </select>

    <!-- 查询用户组织列表 -->
    <select id="selectOrganizationList" resultMap="Organization">
        SELECT
            ID,
            ORG_NAME AS organization,
            ALIAS,
            PARENT_ID,
            ORG_RANK AS org_rank,
            CREATE_DATE ,
            REMARKS,
            PARENT_KEYS
        FROM LA_ORGANIZATION O
        WhERE O.enabled = 1 AND O.id IN
        <foreach collection="list" open="(" close=")" separator="," item="organ">#{organ.id}</foreach>
    </select>

    <select id="existParent" resultType="boolean">
        SELECT 1 - COUNT(1) FROM DUAL WHERE EXISTS (SELECT 1 FROM LA_ORGANIZATION WHERE PARENT_ID = #{id})
    </select>

    <select id="selectOrganizationById" resultMap="Organization">
        SELECT
            ID,
            ORG_NAME AS organization,
            ALIAS,
            PARENT_ID,
            ORG_RANK AS org_rank,
            CREATE_DATE ,
            REMARKS,
            PARENT_KEYS ,
            ORG_CATEGORY,
            ENABLED,
            ORG_OWNER,
            TENANT_ID AS tenant_id
        FROM LA_ORGANIZATION O WHERE O.ID = #{id}
    </select>

    <select id="selectOrganizationByTenantId" resultMap="Organization">
        SELECT
            ID,
            ORG_NAME AS organization,
            ALIAS,
            PARENT_ID,
            ORG_RANK AS org_rank,
            CREATE_DATE ,
            REMARKS,
            PARENT_KEYS ,
            ORG_CATEGORY,
            ENABLED,
            ORG_OWNER,
            TENANT_ID AS tenant_id
        FROM LA_ORGANIZATION T WHERE TENANT_ID = #{id}
    </select>

    <select id="queryUserOrganization" parameterType="java.lang.String"
            resultType="com.lambda.fusion.authority.organization.domain.UserOrganizationChange">
        SELECT USERNAME AS userId, ORGANIZATION_ID AS organizationId, TENANT_ID FROM LA_USER_ORGANIZATION WHERE USERNAME = #{userId}
    </select>

    <delete id="deleteUserOrganizationByUser">
        DELETE FROM LA_USER_ORGANIZATION WHERE USERNAME = #{userId}
    </delete>

    <delete id="deleteUserOrganizationByOrg">
        DELETE FROM LA_USER_ORGANIZATION WHERE ORGANIZATION_ID = #{userId}
    </delete>

    <insert id="addUserOrganization" parameterType="com.lambda.fusion.authority.organization.domain.UserOrganizationChange">
        INSERT INTO LA_USER_ORGANIZATION (USERNAME, ORGANIZATION_ID, TENANT_ID) VALUES (#{userId}, #{organizationId}, #{tenantId, jdbcType=VARCHAR})
    </insert>

    <update id="updateUserOrganization"
            parameterType="com.lambda.fusion.authority.organization.domain.UserOrganizationChange">
        UPDATE LA_USER_ORGANIZATION SET ORGANIZATION_ID = #{organizationId} WHERE USERNAME = #{userId}
    </update>

    <select id="selectChildrenByOrganizationId" resultType="java.lang.String">
        SELECT ID FROM LA_ORGANIZATION T WHERE T.PARENT_KEYS LIKE CONCAT(#{id},'%') ORDER BY PARENT_KEYS
    </select>

    <select id="selectSubOrganizationsById" resultMap="Organization">
        SELECT ID, ORG_CATEGORY FROM LA_ORGANIZATION T WHERE T.PARENT_KEYS LIKE CONCAT(#{id},'-%') OR T.PARENT_KEYS = #{id} ORDER BY PARENT_KEYS
    </select>

    <update id="updateEnabledOrganizationByIds">
        UPDATE LA_ORGANIZATION SET ENABLED = #{enabled} WHERE ID IN
        <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </update>

    <update id="updateEnabledRoleByOrganizationByIds">
        UPDATE LA_ROLES T SET T.ENABLED = #{enabled} WHERE T.OWNER IN
        <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </update>

    <update id="updateEnabledOrganizationUsersByTenantIds">
        UPDATE LA_USERS T SET T.ENABLED = #{enabled} WHERE T.TENANT_ID IN
        <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </update>

    <update id="updateEnabledOrganizationUsersByOrgIds">
        UPDATE LA_USERS T SET T.enabled = #{enabled} WHERE T.username IN (
            SELECT T2.USERNAME FROM LA_USER_ORGANIZATION T2
            INNER JOIN LA_ORGANIZATION T3 ON T2.ORGANIZATION_ID = T3.ID
            WHERE T3.ID IN
            <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
        )
    </update>

    <select id="existUser" parameterType="string" resultType="java.lang.Boolean">
        SELECT COUNT(1) FROM DUAL WHERE EXISTS
        (SELECT 1 FROM LA_USER_ORGANIZATION T WHERE T.ORGANIZATION_ID IN <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>)
    </select>

    <select id="existTenantOrganization" parameterType="string" resultType="java.lang.Boolean">
        SELECT COUNT(1) FROM DUAL WHERE EXISTS (SELECT 1 FROM LA_ORGANIZATION T WHERE T.ORG_OWNER = #{orgId} AND T.ORG_CATEGORY = 1 AND T.ENABLED = 1)
    </select>

    <delete id="deleteOrgByIdList">
        DELETE FROM LA_USER_ORGANIZATION WHERE ORGANIZATION_ID IN
        <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </delete>

    <delete id="deleteUserOrgByIdList">
        DELETE FROM LA_ORGANIZATION WHERE id IN
        <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </delete>


    <select id="selectChildren" resultMap="Organization">
        SELECT
            ID AS id,
            ALIAS AS alias,
            PARENT_ID,
            ORG_RANK AS org_rank,
            PARENT_KEYS ,
            ORDER_NO AS order_no
        FROM LA_ORGANIZATION T
        <where>
            <choose>
                <when test="pid != null">T.PARENT_ID = #{pid}</when>
                <otherwise>T.PARENT_ID IS NULL</otherwise>
            </choose>
        </where>
        ORDER BY ORDER_NO
    </select>
    <select id="selectOrganizationsByParentKeys" resultMap="Organization">
        SELECT
            ID AS id,
            ALIAS AS alias,
            PARENT_ID,
            ORG_RANK AS org_rank,
            PARENT_KEYS ,
            ORDER_NO AS order_no
        FROM LA_ORGANIZATION T
        WHERE (T.PARENT_KEYS = #{parentKeys} OR T.PARENT_KEYS LIKE CONCAT(#{parentKeys},'-%'))
        ORDER BY T.ORG_RANK, T.ORDER_NO
    </select>
    <update id="updateAffectedNodesAfterMove">
        UPDATE LA_ORGANIZATION T SET
        T.ORG_RANK = CASE
        <foreach collection="list" item="item">
            WHEN ID = #{item.id} THEN #{item.level}
        </foreach>
        END,
        PARENT_ID = CASE
        <foreach collection="list" item="item">
            WHEN ID = #{item.id} THEN #{item.parentId}
        </foreach>
        END,
        PARENT_KEYS = CASE
        <foreach collection="list" item="item">
            WHEN ID = #{item.id} THEN #{item.parentKeys}
        </foreach>
        END,
        ORDER_NO = CASE
        <foreach collection="list" item="item">
            WHEN ID = #{item.id} THEN #{item.orderNo}
        </foreach>
        END
        WHERE ID IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

</mapper>
