<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.resource.mapper.ResourceMapper">
    <select id="getAllChildren" resultType="com.lambda.fusion.authority.resource.model.Resource">
        select t.id, t.res_name, t.order_no, t.parent_id, t.res_path, t.res_level, t.icon, t.method, t.res_type, t.hidden, t.res_mode
        from la_resources t
        where t.is_dev = 0
        <if test="authorities != null and authorities.size > 0">
            and t.id in (
            select distinct t2.resource_id from la_role_resources t2 where t2.authority in
            <foreach collection="authorities" item="item" separator="," open="(" close=")">#{item}</foreach>
            )
        </if>
        <if test="parentKeys != null">
            and t.parent_keys like concat(#{parentKeys}, '%')
        </if>
        order by t.res_level, t.order_no
    </select>
    <select id="getAllParents" resultType="com.lambda.fusion.authority.resource.model.Resource">
        select t.id, t.res_name, t.order_no, t.parent_id, t.res_path, t.res_level, t.icon, t.method, t.res_type, t.hidden, t.res_mode
        from la_resources t
        where t.is_dev = 0
        <if test="authorities != null and authorities.size > 0">
            and t.id in (
            select distinct t2.resource_id from la_role_resources t2 where t2.authority in
            <foreach collection="authorities" item="item" separator="," open="(" close=")">#{item}</foreach>
            )
        </if>
        <if test="parentKeys != null">
            and t.id in
            <foreach collection="parentKeys" item="item" separator="," open="(" close=")">#{item}</foreach>
        </if>
        order by t.res_level, t.order_no
    </select>
    <!-- 递归查询所有资源 -->
    <select id="getDirectChildren" resultType="com.lambda.fusion.authority.resource.model.ResourceTree">
        select t.id, t.res_name, t.order_no, t.parent_id, t.res_path, t.res_level, t.icon, t.method, t.res_type, t.hidden, t.res_mode
        from la_resources t
        <where>
            <if test="id != null">
                and t.parent_id = #{id}
            </if>
            <if test="id == null">
                and t.parent_id is null
            </if>
        </where>
        order by t.order_no
    </select>
    <!-- 根据ID查询下级所有资源 -->
    <select id="queryAllChildren" resultType="com.lambda.fusion.authority.resource.model.ResourceTree">
        select t.id, t.res_name, t.order_no, t.parent_id, t.res_path, t.res_level, t.icon, t.method, t.res_type, t.hidden, t.parent_keys, t.res_mode
        from la_resources t
        where t.parent_keys like concat(#{parentKeys}, '%')
        order by t.res_level, t.order_no
    </select>

    <!-- 删除资源相关角色列表 -->
    <delete id="deleteRolesResource">
        delete from la_role_resources where resource_id in
        <foreach collection="collection" open="(" close=")" separator="," item="id">#{id}</foreach>
    </delete>
    <!-- 是否包含下级资源 -->
    <select id="hasChildren" parameterType="string" resultType="boolean">
        select count(1) from dual where exists (select 1 from la_resources t where t.parent_id = #{id})
    </select>

    <!-- 是否包含下级按钮 -->
    <select id="hasButton" resultType="boolean">
        select count(1) from dual where exists (select 1 from la_resources t where t.parent_id = #{pid} and t.id != #{id}
        and t.res_type = 3)
    </select>

    <!-- 是否包含下级非按钮资源 -->
    <select id="hasNotButton" resultType="boolean">
        select count(1) from dual where exists (select 1 from la_resources t where t.parent_id = #{pid} and t.id != #{id}
        and t.res_type != 3)
    </select>

    <!-- 查询可用的所有资源 -->
    <select id="getAllResourcesByOrderNo"
            resultType="com.lambda.fusion.authority.resource.model.Resource">
        select id, res_name, res_path, parentid, ico, method, res_level, remark, order_no, res_type, res_mode, hidden, parentkeys from la_resources order by order_no
    </select>
    <!-- 批量排序 -->
    <update id="updateResourceOrdered">
        update la_resources set order_no = case
        <foreach collection="list" item="item">
            when id = #{item.id} then #{item.orderNo}
        </foreach>
        end
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>
    <!-- 批量隐藏资源 -->
    <update id="updateResourceIsHidden">
        update la_resources set hidden = #{status}
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="updateResourceLevel">
        update la_resources t set t.res_level = case
        <foreach collection="list" item="item">
            when id = #{item.id} then #{item.resLevel}
        </foreach>
        end
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <select id="getAllResources"
            resultType="com.lambda.fusion.authority.resource.model.Resource">
        select
            t.id, t.res_name, t.res_path, t.parent_id, t.icon, t.method, t.res_level, t.order_no, t.res_type, t.hidden, t.parent_keys, t.res_mode
        from la_resources t
        order by t.res_level, t.order_no
    </select>
    <update id="updateResourceParentKeys">
        update la_resources set parent_keys = case
        <foreach collection="list" item="item">
            when id = #{item.id} then #{item.parentKeys, jdbcType=VARCHAR}
        </foreach>
        end where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>
    <update id="updateMovedResource">
        update la_resources t set
            t.order_no = #{orderNo},
            t.parent_id = #{parentId, jdbcType=VARCHAR},
            t.res_level = #{resLevel,jdbcType=INTEGER},
            t.parent_keys = #{parentKeys, jdbcType=VARCHAR}
        where t.id = #{id}
    </update>

</mapper>