<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.role.mapper.RoleGroupMapper">
    <select id="getAllGroup" resultType="com.lambda.fusion.authority.role.model.entity.RoleGroupEntity">
        select t.group_id,t.group_name,t.tenant_id
        from la_role_groups t
        <where>
            <choose>
                <when test="tenantId != null and tenantId != ''">
                    and t.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    and t.tenant_id is null
                </otherwise>
            </choose>
        </where>
        order by t.group_id
    </select>

    <delete id="deleteGroupByTenantId">
        delete from la_role_groups where tenant_id in
        <foreach collection="tenantIds" open="(" close=")" separator="," item="item">#{item}</foreach>
    </delete>
</mapper>