<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.mapper.RoleGroupMapper">

    <select id="getAllGroup" resultType="com.lambda.fusion.authority.model.role.RoleGroupEntity">
        SELECT T.GROUP_ID,T.GROUP_NAME,T.TENANT_ID
        FROM la_role_groups T
        <where>
            <choose>
                <when test="tenantId != null and tenantId != ''">
                    AND T.TENANT_ID = #{tenantId}
                </when>
                <otherwise>
                    AND T.TENANT_ID IS NULL
                </otherwise>
            </choose>
        </where>
        ORDER BY T.GROUP_ID
    </select>

    <delete id="deleteGroupByTenantId">
        DELETE FROM la_role_groups WHERE TENANT_ID IN
        <foreach collection="tenantIds" open="(" close=")" separator="," item="item">#{item}</foreach>
    </delete>
</mapper>
