<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.role.mapper.RoleMapper">

    <resultMap id="AccessPermission" type="com.lambda.fusion.authority.role.model.AccessPermission">
        <id column="id" property="id"/>
        <result column="res_name" property="name"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="res_type" property="type"/>
        <result column="checked" property="checked"/>
    </resultMap>

    <select id="getAllRoles" resultType="com.lambda.fusion.authority.role.model.Role">
        SELECT T.AUTHORITY AS authority, T.ALIAS AS alias, (CASE WHEN T.GROUP_ID IS NULL THEN 'default' ELSE T.GROUP_ID END) AS groupId
        FROM LA_ROLES T WHERE ENABLED = 1
        <if test="excludes != null and excludes.size > 0">
            AND T.AUTHORITY NOT IN <foreach collection="excludes" item="item" open="(" close=")" separator=",">#{item}</foreach>
        </if>
        <choose>
            <when test="tenantId != null and tenantId != ''">
                AND T.TENANT_ID = #{tenantId}
            </when>
            <otherwise>
                AND T.TENANT_ID IS NULL
            </otherwise>
        </choose>
        ORDER BY T.ALIAS
    </select>

    <select id="getAllMutableRoles" resultType="com.lambda.fusion.authority.role.model.Role">
        SELECT T.AUTHORITY AS authority, T.ALIAS AS alias, T.TENANT_ID AS tenantId, T.ENABLED AS enabled, T.ROLE_TYPE AS roleType, T.DATA_TYPE AS dataType, T.ICON AS icon, T.REMARKS AS remarks, T.CREATE_DATE AS createDate,
               CASE WHEN T.GROUP_ID IS NULL THEN 'default' ELSE T.GROUP_ID END AS groupId
        FROM LA_ROLES T
        <where>
            <if test="parameters.excludes != null and parameters.excludes.size > 0">
                AND T.AUTHORITY NOT IN <foreach collection="parameters.excludes" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
            <if test="parameters.groupId != null and parameters.groupId != ''">
                AND T.GROUP_ID = #{parameters.groupId}
            </if>
            <if test="parameters.alias != null and parameters.alias != ''">
                AND T.ALIAS LIKE #{parameters.alias}
            </if>
            <choose>
                <when test="parameters.tenantId != null and parameters.tenantId != ''">
                    AND T.TENANT_ID = #{parameters.tenantId}
                </when>
                <otherwise>
                    AND T.TENANT_ID IS NULL
                </otherwise>
            </choose>
        </where>
        ORDER BY T.ALIAS
    </select>

    <insert id="insertRole" parameterType="com.lambda.fusion.authority.role.model.Role">
        INSERT INTO LA_ROLES (AUTHORITY, ALIAS, ICON, REMARKS, CREATE_DATE, TENANT_ID, OWNER, ROLE_TYPE, DATA_TYPE, ENABLED, GROUP_ID)
        VALUES(
        #{authority},
        #{alias}, #{icon,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
        #{createDate}, #{tenantId,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, #{roleType,jdbcType=INTEGER}, #{dataType,jdbcType=INTEGER}, 1, #{groupId})
    </insert>
    <select id="getRoleByAuthority" parameterType="string" resultType="com.lambda.fusion.authority.role.model.Role">
        SELECT AUTHORITY AS authority, ALIAS AS alias, ROLE_TYPE AS roleType, DATA_TYPE AS dataType, ENABLED AS enabled, ICON AS icon, REMARKS AS remarks, CREATE_DATE AS createDate,
               CASE WHEN GROUP_ID IS NULL THEN 'default' ELSE GROUP_ID END AS groupId
        FROM LA_ROLES WHERE AUTHORITY = #{authority}
    </select>
    <delete id="deleteUserRoleByAuthority" parameterType="string">
        DELETE FROM LA_USER_ROLES WHERE authority = #{authority}
    </delete>
    <delete id="deleteRoleByAuthority" parameterType="string">
        DELETE FROM LA_ROLES WHERE authority = #{authority}
    </delete>
    <update id="updateRole" parameterType="com.lambda.fusion.authority.role.model.Role">
        UPDATE LA_ROLES SET
        ALIAS = #{alias,jdbcType=VARCHAR},
        REMARKS = #{remarks,jdbcType=VARCHAR},
        ROLE_TYPE = #{roleType,jdbcType=INTEGER},
        DATA_TYPE = #{dataType,jdbcType=INTEGER},
        ENABLED = #{enabled,jdbcType=INTEGER},
        GROUP_ID = #{groupId,jdbcType=VARCHAR}
        WHERE AUTHORITY = #{authority}
    </update>
    <!-- 检查角色名是否存在 -->
    <select id="hasExists" parameterType="String" resultType="boolean">
        SELECT COUNT(1) FROM DUAL WHERE EXISTS (SELECT 1 FROM LA_ROLES T WHERE T.authority = #{authority})
    </select>

    <!-- 删除角色权限 -->
    <delete id="deleteAuthorization">
        DELETE FROM LA_ROLE_RESOURCES WHERE AUTHORITY = #{authority} AND RESOURCE_ID = #{id}
    </delete>
    <delete id="batchDeleteAuthorization">
        DELETE FROM LA_ROLE_RESOURCES WHERE AUTHORITY = #{authority}
        AND RESOURCE_ID IN
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <!-- 保存角色授权 -->
    <insert id="saveAuthorization">
        INSERT INTO LA_ROLE_RESOURCES (RESOURCE_ID, AUTHORITY, TENANT_ID) VALUES (#{id}, #{authority}, #{tenantId, jdbcType=VARCHAR})
    </insert>

    <insert id="batchSaveAuthorization">
        INSERT INTO LA_ROLE_RESOURCES (RESOURCE_ID, AUTHORITY, TENANT_ID) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.authority}, #{item.tenantId, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="batchUpdateAuthorization">
        UPDATE LA_ROLE_RESOURCES SET TENANT_ID = TENANT_ID WHERE AUTHORITY = #{authority} AND RESOURCE_ID IN
        <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach>
    </update>

    <select id="hasAuthorized" resultType="String">
        SELECT RESOURCE_ID FROM LA_ROLE_RESOURCES WHERE AUTHORITY = #{authority}
    </select>

    <!-- 根据父节点查询子节点是否全部未选中 -->
    <select id="hasChildrenChecked" resultType="String">
        SELECT ID FROM LA_RESOURCES T
        INNER JOIN LA_ROLE_RESOURCES TR ON T.ID = TR.RESOURCE_ID AND TR.AUTHORITY = #{authority}
        <where>
            <if test="pid == null">
                T.PARENT_ID IS NULL
            </if>
            <if test="pid != null">
                T.PARENT_ID = #{pid}
            </if>
        </where>
    </select>

    <!-- 查询角色是否被使用 -->
    <select id="hasUsedAuthority" parameterType="HashMap" resultType="boolean">
        SELECT COUNT(1) FROM DUAL WHERE EXISTS (SELECT 1 FROM LA_USER_ROLES WHERE AUTHORITY = #{authority} )
    </select>


    <!-- 查询组织权限 -->
    <select id="getOrganizationAuthorization" parameterType="HashMap" resultType="com.lambda.fusion.authority.role.model.RoleAuthority">
        SELECT T.id, T.name, T.PARENT_ID,
        MAX(CASE WHEN T4.RESOURCE_ID IS NOT NULL THEN 1 ELSE 0 END) AS checked,
        COUNT(T2.ID) AS counts,
        SUM(CASE WHEN T3.RESOURCE_ID IS NULL THEN 0 ELSE 1 END) AS existed
        FROM
        LA_RESOURCES T
        LEFT JOIN LA_RESOURCES T2 ON T2.PARENT_ID = T.ID
        LEFT JOIN LA_ORGANIZATION_RESOURCES T3 ON T3.RESOURCE_ID = T2.ID AND T3.ORGANIZATION_ID = #{organizationid}
        LEFT JOIN LA_ORGANIZATION_RESOURCES T4 ON T4.RESOURCE_ID = T.ID AND T4.ORGANIZATION_ID = #{organizationid}
        <where>
            <if test="pid == null">
                T.PARENT_ID IS NULL
            </if>
            <if test="pid != null">
                T.PARENT_ID = #{pid}
            </if>
        </where>
        GROUP BY T.ID, T.NAME, T.PARENT_ID, T.ORDER_NO
        ORDER BY T.ORDER_NO
    </select>
    <!-- 查询是否已经为组织授权 -->
    <select id="hasOrganizationAuthorized" parameterType="Map" resultType="boolean">
        SELECT COUNT(1) FROM DUAL WHERE EXISTS( SELECT 1 FROM LA_ORGANIZATION_RESOURCES WHERE RESOURCE_ID = #{resourceid}
        AND ORGANIZATION_ID = #{organizationid})
    </select>
    <!-- 保存组织授权 -->
    <insert id="saveOrganizationAuthorization" parameterType="HashMap">
        INSERT INTO LA_ORGANIZATION_RESOURCES (RESOURCE_ID, ORGANIZATION_ID) VALUES (#{resourceid}, #{organizationid})
    </insert>
    <!-- 删除组织权限 -->
    <delete id="deleteOrganizationAuthorization" parameterType="HashMap">
        DELETE FROM LA_ORGANIZATION_RESOURCES WHERE ORGANIZATION_ID = #{organizationid} AND RESOURCE_ID = #{resourceid}
    </delete>

    <update id="prohibitRole" parameterType="HashMap">
         UPDATE LA_ROLES SET enabled = #{enabled} WHERE authority = #{authority}
    </update>


    <select id="getTenantRolesByOwner" resultType="com.lambda.fusion.authority.role.model.Role">
        SELECT T.AUTHORITY AS authority, T.ALIAS AS alias, T.ROLE_TYPE AS roleType, T.DATA_TYPE AS dataType FROM LA_ROLES T WHERE T.OWNER = #{owner}
    </select>

    <select id="getAccessPermission" resultMap="AccessPermission">
        SELECT DISTINCT
            T.id,
            T.res_name,
            T.PARENT_ID,
            T.RES_LEVEL,
            T.res_type,
            T.icon,
            (CASE WHEN T3.RESOURCE_ID IS NOT NULL THEN 1 ELSE 0 END ) AS checked,
            T.ORDER_NO
        FROM LA_RESOURCES T
        <if test="parameters.authorities != null">
            INNER JOIN LA_ROLE_RESOURCES T2 ON T2.RESOURCE_ID = T.ID
        </if>
        LEFT JOIN LA_ROLE_RESOURCES T3 ON T3.RESOURCE_ID = T.ID AND T3.AUTHORITY = #{parameters.authority}
        WHERE T.IS_DEV = 0 AND T.res_type != 0 AND T.res_mode = #{parameters.mode}
        <if test="parameters.authorities != null and parameters.authorities.size > 0">
            AND T2.AUTHORITY IN
            <foreach collection="parameters.authorities" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        ORDER BY T.RES_LEVEL, T.PARENT_ID, T.ORDER_NO
    </select>
    <select id="hasAuthorizedWithIntersection" resultType="string">
        SELECT RESOURCE_ID FROM LA_ROLE_RESOURCES WHERE AUTHORITY = #{authority} AND RESOURCE_ID IN
        <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach>
    </select>
    <select id="getAuthoritiesByUser" resultType="com.lambda.fusion.authority.role.model.UserAuthority">
        SELECT
            T1.AUTHORITY,
            T2.ORGANIZATION_ID AS orgid
        FROM
            LA_USER_ROLES T1
            LEFT JOIN LA_USER_ORGANIZATION T2 ON T2.USERNAME = T1.USERNAME
        WHERE T1.USERNAME = #{uid}
    </select>
    <delete id="deleteRoleAuthorizeByTenantId">
        DELETE FROM LA_ROLE_RESOURCES WHERE authority IN (SELECT AUTHORITY FROM LA_ROLES WHERE TENANT_ID IN
        <foreach collection="tenantIds" open="(" close=")" separator="," item="item">#{item}</foreach>
        )
    </delete>
    <delete id="deleteRoleByTenantId">
        DELETE FROM LA_ROLES WHERE TENANT_ID IN
        <foreach collection="tenantIds" open="(" close=")" separator="," item="item">#{item}</foreach>
    </delete>
</mapper>
