<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.role.mapper.RoleMapper">

    <resultMap id="AccessPermission" type="com.lambda.fusion.authority.role.model.AccessPermission">
        <id column="id" property="id"/>
        <result column="res_name" property="name"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="res_type" property="type"/>
        <result column="checked" property="checked"/>
    </resultMap>

    <select id="queryRoles" resultType="com.lambda.fusion.authority.role.model.Role">
        select t.authority as authority, t.alias as alias, (case when t.group_id is null then 'default' else t.group_id end) as groupId
        from la_roles t where enabled = 1
        <if test="excludes != null and excludes.size > 0">
            and t.authority not in <foreach collection="excludes" item="item" open="(" close=")" separator=",">#{item}</foreach>
        </if>
        <choose>
            <when test="tenantId != null and tenantId != ''">
                and t.tenant_id = #{tenantId}
            </when>
            <otherwise>
                and t.tenant_id is null
            </otherwise>
        </choose>
        order by t.alias
    </select>

    <select id="pageRoles" resultType="com.lambda.fusion.authority.role.model.Role">
        select t.authority as authority, t.alias as alias, t.tenant_id as tenantId, t.enabled as enabled, t.role_type as roleType, t.data_type as dataType, t.icon as icon, t.remarks as remarks, t.created_at as createdAt,
               case when t.group_id is null then 'default' else t.group_id end as groupId
        from la_roles t
        <where>
            <if test="parameters.excludes != null and parameters.excludes.size > 0">
                and t.authority not in <foreach collection="parameters.excludes" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
            <if test="parameters.groupId != null and parameters.groupId != ''">
                and t.group_id = #{parameters.groupId}
            </if>
            <if test="parameters.alias != null and parameters.alias != ''">
                and t.alias like #{parameters.alias}
            </if>
            <choose>
                <when test="parameters.tenantId != null and parameters.tenantId != ''">
                    and t.tenant_id = #{parameters.tenantId}
                </when>
                <otherwise>
                    and t.tenant_id is null
                </otherwise>
            </choose>
        </where>
        order by t.alias
    </select>

    <insert id="insertRole" parameterType="com.lambda.fusion.authority.role.model.Role">
        insert into la_roles (authority, alias, icon, remarks, created_at, tenant_id, owner, role_type, data_type, enabled, group_id)
        values(
        #{authority},
        #{alias}, #{icon,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
        #{createdAt}, #{tenantId,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, #{roleType,jdbcType=INTEGER}, #{dataType,jdbcType=INTEGER}, 1, #{groupId})
    </insert>
    <select id="getRoleByAuthority" parameterType="string" resultType="com.lambda.fusion.authority.role.model.Role">
        select authority as authority, alias as alias, role_type as roleType, data_type as dataType, enabled as enabled, icon as icon, remarks as remarks, created_at as createdAt,
               case when group_id is null then 'default' else group_id end as groupId
        from la_roles where authority = #{authority}
    </select>
    <delete id="deleteUserRoleByAuthority" parameterType="string">
        delete from la_user_roles where authority = #{authority}
    </delete>
    <delete id="deleteRoleByAuthority" parameterType="string">
        delete from la_roles where authority = #{authority}
    </delete>
    <update id="updateRole" parameterType="com.lambda.fusion.authority.role.model.Role">
        update la_roles set
        alias = #{alias,jdbcType=VARCHAR},
        remarks = #{remarks,jdbcType=VARCHAR},
        role_type = #{roleType,jdbcType=INTEGER},
        data_type = #{dataType,jdbcType=INTEGER},
        enabled = #{enabled,jdbcType=INTEGER},
        group_id = #{groupId,jdbcType=VARCHAR}
        where authority = #{authority}
    </update>
    <!-- 检查角色名是否存在 -->
    <select id="hasExists" parameterType="String" resultType="boolean">
        select count(1) from dual where exists (select 1 from la_roles t where t.authority = #{authority})
    </select>

    <!-- 删除角色权限 -->
    <delete id="deleteAuthorization">
        delete from la_role_resources where authority = #{authority} and resource_id = #{id}
    </delete>
    <delete id="batchDeleteAuthorization">
        delete from la_role_resources where authority = #{authority}
        and resource_id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <!-- 保存角色授权 -->
    <insert id="saveAuthorization">
        insert into la_role_resources (resource_id, authority, tenant_id) values (#{id}, #{authority}, #{tenantId, jdbcType=VARCHAR})
    </insert>

    <insert id="batchSaveAuthorization">
        insert into la_role_resources (resource_id, authority, tenant_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.authority}, #{item.tenantId, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="batchUpdateAuthorization">
        update la_role_resources set tenant_id = tenant_id where authority = #{authority} and resource_id in
        <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach>
    </update>

    <select id="hasAuthorized" resultType="String">
        select resource_id from la_role_resources where authority = #{authority}
    </select>

    <!-- 根据父节点查询子节点是否全部未选中 -->
    <select id="hasChildrenChecked" resultType="String">
        select id from la_resources t
        inner join la_role_resources tr on t.id = tr.resource_id and tr.authority = #{authority}
        <where>
            <if test="pid == null">
                t.parent_id is null
            </if>
            <if test="pid != null">
                t.parent_id = #{pid}
            </if>
        </where>
    </select>

    <!-- 查询角色是否被使用 -->
    <select id="hasUsedAuthority" parameterType="HashMap" resultType="boolean">
        select count(1) from dual where exists (select 1 from la_user_roles where authority = #{authority} )
    </select>


    <!-- 查询组织权限 -->
    <select id="getOrganizationAuthorization" parameterType="HashMap" resultType="com.lambda.fusion.authority.role.model.RoleAuthority">
        select t.id, t.name, t.parent_id,
        max(case when t4.resource_id is not null then 1 else 0 end) as checked,
        count(t2.id) as counts,
        sum(case when t3.resource_id is null then 0 else 1 end) as existed
        from
        la_resources t
        left join la_resources t2 on t2.parent_id = t.id
        left join la_organization_resources t3 on t3.resource_id = t2.id and t3.organization_id = #{organizationid}
        left join la_organization_resources t4 on t4.resource_id = t.id and t4.organization_id = #{organizationid}
        <where>
            <if test="pid == null">
                t.parent_id is null
            </if>
            <if test="pid != null">
                t.parent_id = #{pid}
            </if>
        </where>
        group by t.id, t.name, t.parent_id, t.order_no
        order by t.order_no
    </select>
    <!-- 查询是否已经为组织授权 -->
    <select id="hasOrganizationAuthorized" parameterType="Map" resultType="boolean">
        select count(1) from dual where exists( select 1 from la_organization_resources where resource_id = #{resourceid}
        and organization_id = #{organizationid})
    </select>
    <!-- 保存组织授权 -->
    <insert id="saveOrganizationAuthorization" parameterType="HashMap">
        insert into la_organization_resources (resource_id, organization_id) values (#{resourceid}, #{organizationid})
    </insert>
    <!-- 删除组织权限 -->
    <delete id="deleteOrganizationAuthorization" parameterType="HashMap">
        delete from la_organization_resources where organization_id = #{organizationid} and resource_id = #{resourceid}
    </delete>

    <update id="prohibitRole" parameterType="HashMap">
         update la_roles set enabled = #{enabled} where authority = #{authority}
    </update>


    <select id="getTenantRolesByOwner" resultType="com.lambda.fusion.authority.role.model.Role">
        select t.authority as authority, t.alias as alias, t.role_type as roleType, t.data_type as dataType from la_roles t where t.owner = #{owner}
    </select>

    <select id="getAccessPermission" resultMap="AccessPermission">
        select distinct
            t.id,
            t.res_name,
            t.parent_id,
            t.res_level,
            t.res_type,
            t.icon,
            (case when t3.resource_id is not null then 1 else 0 end ) as checked,
            t.order_no
        from la_resources t
        <if test="parameters.authorities != null">
            inner join la_role_resources t2 on t2.resource_id = t.id
        </if>
        left join la_role_resources t3 on t3.resource_id = t.id and t3.authority = #{parameters.authority}
        where t.is_dev = 0 and t.res_type != 0 and t.res_mode = #{parameters.mode}
        <if test="parameters.authorities != null and parameters.authorities.size > 0">
            and t2.authority in
            <foreach collection="parameters.authorities" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by t.res_level, t.parent_id, t.order_no
    </select>
    <select id="hasAuthorizedWithIntersection" resultType="string">
        select resource_id from la_role_resources where authority = #{authority} and resource_id in
        <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach>
    </select>
    <select id="getUserAuthorityByUsername" resultType="com.lambda.fusion.authority.role.model.UserAuthority">
        select
            t1.authority,
            t2.organization_id as orgId
        from
            la_user_roles t1
            left join la_user_organization t2 on t2.username = t1.username
        where t1.username = #{uid}
    </select>
    <delete id="deleteRoleAuthorizeByTenantId">
        delete from la_role_resources where authority in (select authority from la_roles where tenant_id in
        <foreach collection="tenantIds" open="(" close=")" separator="," item="item">#{item}</foreach>
        )
    </delete>
    <delete id="deleteRoleByTenantId">
        delete from la_roles where tenant_id in
        <foreach collection="tenantIds" open="(" close=")" separator="," item="item">#{item}</foreach>
    </delete>
</mapper>