<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.user.mapper.UserFieldsMapper">

    <select id="getPersonUser" resultType="com.lambda.fusion.authority.user.model.entity.UserFieldsEntity">
        SELECT  t.USERNAME, t.FIELD_NAME, t.FIELD_VALUE
        FROM LA_USER_FIELDS t
        WHERE t.USERNAME IN <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
    </select>

    <select id="getListByUsername" resultType="com.lambda.fusion.authority.user.model.entity.UserFieldsEntity">
        SELECT  t.USERNAME, t.FIELD_NAME, t.FIELD_VALUE
        FROM LA_USER_FIELDS t
        WHERE t.USERNAME = #{username}
    </select>

</mapper>
