<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.user.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.lambda.fusion.authority.user.model.User">
        <id column="username" property="username" javaType="String"/>
        <result column="nickname" property="nickname" javaType="String"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="create_date" property="createDate"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="enabled" property="enabled" />
        <result column="ON_LINE" property="online"/>
        <result column="OFFLINE_TIME" property="offlineTime"/>
        <result column="CREATOR" property="creator"/>
        <result column="EXPIRED_TIME" property="expiredTime"/>
        <association property="organizationSummary" javaType="com.lambda.fusion.authority.organization.domain.OrganizationSummary">
            <constructor>
                <idArg column="orgId" javaType="String"/>
                <arg column="orgAlias" javaType="String"/>
            </constructor>
        </association>
        <association property="props" javaType="com.lambda.fusion.authority.user.model.UserInfo">
            <id column="username" property="username"/>
            <result column="avatar" property="avatar"/>
            <result column="remark" property="remark"/>
            <result column="identity_id" property="identityId"/>
            <result column="position" property="position"/>
            <result column="status" property="status"/>
            <result column="emp_no" property="empNo"/>
            <result column="dd_no" property="ddNo"/>
            <result column="wechat_no" property="wechatNo"/>
            <result column="password_reset_required" property="passwordResetRequired"/>
            <result column="extend_param" property="extendParam"/>
        </association>
        <collection property="authorities" ofType="com.lambda.fusion.authority.role.model.SimpleRole">
            <constructor>
                <idArg column="authority" javaType="String"/>
                <arg column="alias" javaType="String"/>
            </constructor>
        </collection>
    </resultMap>


    <resultMap id="AuthenticationUserDetailResultMap" type="com.lambda.fusion.authority.authentication.model.LoginUserDetails">
        <id column="username" property="username" javaType="String"/>
        <result column="nickname" property="nickname" javaType="String"/>
        <result column="password" property="password" javaType="String"/>
        <result column="org_id" property="orgId" javaType="String"/>
        <result column="enabled" property="enabled" javaType="Boolean" />
        <result column="tenant_id" property="tenantId" javaType="String"/>
        <result column="expired_time" property="expiredTime"/>
        <collection property="authorities" ofType="java.lang.String">
            <constructor>
                <idArg column="authority" javaType="String"/>
            </constructor>
        </collection>
    </resultMap>

    <resultMap id="TenantUser" type="com.lambda.fusion.authority.user.model.User">
        <id column="username" property="username" javaType="String"/>
        <result column="nickname" property="nickname" javaType="String"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="createDate" property="createDate"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="enabled" property="enabled" />
        <association property="organizationSummary" javaType="com.lambda.fusion.authority.organization.domain.OrganizationSummary">
            <constructor>
                <idArg column="orgId" javaType="String"/>
            </constructor>
        </association>
        <collection property="authorities" ofType="com.lambda.fusion.authority.role.model.SimpleRole">
            <constructor>
                <idArg column="authority" javaType="String"/>
            </constructor>
        </collection>
    </resultMap>

    <select id="selectUserPage" resultType="com.lambda.fusion.authority.user.model.User">
        SELECT T.username, T.nickname, T.mobile, T.email, T.enabled FROM LA_USERS T
        <where>
            <choose>
                <when test="parameters.tenantId != null and parameters.tenantId != ''">
                    T.TENANT_ID = #{parameters.tenantId}
                </when>
                <otherwise>
                    T.TENANT_ID IS NULL
                </otherwise>
            </choose>
            <choose>
                <when test="!parameters.dev">
                    AND T.username NOT IN (SELECT USERNAME FROM LA_USER_ROLES WHERE authority IN ('ROLE_DEV','ROLE_TENANT','ROLE_SYSTEM'))
                </when>
                <otherwise>
                    AND T.username NOT IN (SELECT USERNAME FROM LA_USER_ROLES WHERE AUTHORITY = 'ROLE_TENANT')
                </otherwise>
            </choose>
            <if test="parameters.authority != null and parameters.authority != ''">
                AND T.username IN (SELECT USERNAME FROM LA_USER_ROLES WHERE authority = #{parameters.authority})
            </if>
            <if test="parameters.usernames != null and parameters.usernames.size > 0">
                AND T.username IN <foreach collection="parameters.usernames" open="(" close=")" separator="," item="item">#{item}</foreach>
            </if>
            <if test="parameters.nickname != null and parameters.nickname != ''">
                AND T.nickname LIKE #{parameters.nickname}
            </if>
            <if test="parameters.mobile != null and parameters.mobile != ''">
                AND T.mobile LIKE #{parameters.mobile}
            </if>
            <if test="parameters.email != null and parameters.email != ''">
                AND T.email LIKE #{parameters.email}
            </if>
            <if test="parameters.orgIds != null and parameters.orgIds.size > 0">
                AND T.username IN (SELECT USERNAME FROM LA_USER_ORGANIZATION WHERE ORGANIZATION_ID IN <foreach collection="parameters.orgIds" open="(" close=")" separator="," item="item">#{item}</foreach>)
            </if>
            <if test="parameters.userFields != null and parameters.userFields.size > 0">
                AND T.username IN (SELECT username FROM LA_USER_FIELDS WHERE
                <foreach collection="parameters.userFields" item="item" separator="OR" open="(" close=")">
                    field_name = #{item.fieldName} AND field_value = #{item.fieldValue}
                </foreach>
                <if test="parameters.userFields.size > 1">
                    GROUP BY username HAVING COUNT(1) = #{parameters.userFields.size}
                </if>)
            </if>
            <if test="parameters.isOnline != null">
                <choose>
                    <when test="parameters.isOnline">
                        AND T.USERNAME IN (SELECT USERNAME FROM la_user_online_logs WHERE IS_ONLINE = 1)
                    </when>
                    <otherwise>
                        AND T.USERNAME NOT IN (SELECT USERNAME FROM la_user_online_logs WHERE IS_ONLINE = 1)
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY T.CREATE_DATE DESC, T.USERNAME
    </select>
    <!-- 查询用户列表 -->
    <select id="selectUsers" resultMap="UserResultMap">
        SELECT
        T.username, T.nickname, T.mobile, T.email, T.CREATE_DATE AS create_date, T.enabled,
        R.AUTHORITY,
        R.alias, R.tenant_id, O.id As orgId, O.alias As orgAlias, OL.IS_ONLINE, OL.OFFLINE_TIME,
        TC.NICKNAME CREATOR, T.EXPIRED_TIME
        FROM LA_USERS T
        LEFT JOIN (SELECT T1.USERNAME,T1.authority, T2.alias, T2.tenant_id FROM LA_USER_ROLES T1
        INNER JOIN LA_ROLES T2 ON t2.AUTHORITY = T1.authority AND T2.enabled = 1) R ON R.USERNAME = T.username
        LEFT JOIN LA_USER_ORGANIZATION UO ON T.username = UO.USERNAME
        LEFT JOIN LA_ORGANIZATION O ON O.id = UO.ORGANIZATION_ID
        LEFT JOIN la_user_online_logs OL ON  T.USERNAME = OL.USERNAME
        LEFT JOIN LA_USERS TC ON  T.CREATOR = TC.USERNAME
        WHERE T.username IN <foreach collection="list" open="(" close=")" separator="," item="user">#{user.username}</foreach>
        ORDER BY T.CREATE_DATE DESC, T.USERNAME
    </select>

    <!-- 查询用户列表 -->
    <select id="selectUsersByKey" parameterType="String" resultMap="UserResultMap">
        SELECT T.username, T.nickname, T.mobile, T.email, T.CREATE_DATE AS create_date, T.enabled,
        R.authority, R.alias, O.id As orgId, O.alias As orgAlias, T.EXPIRED_TIME
        FROM LA_USERS T
        LEFT JOIN LA_USER_ROLES U ON U.USERNAME = T.username
        LEFT JOIN LA_ROLES R ON R.authority = U.authority
        LEFT JOIN LA_USER_ORGANIZATION UO ON T.username = UO.USERNAME
        LEFT JOIN LA_ORGANIZATION O ON O.id = UO.ORGANIZATION_ID
        <where>
            <if test="key != null and key != ''">
                AND (T.username LIKE CONCAT(CONCAT('%',#{key}),'%')
                    OR T.nickname LIKE CONCAT(CONCAT('%',#{key}),'%')
                    OR T.mobile LIKE CONCAT(CONCAT('%',#{key}),'%')
                    OR T.email LIKE CONCAT(CONCAT('%',#{key}),'%'))
            </if>
        </where>
        ORDER BY T.USERNAME
    </select>

    <!-- 根据角色查询用户名结合 -->
    <select id="selectUsernamesByAuthority" resultType="java.lang.String">
        SELECT
        T5.USERNAME
        FROM (SELECT T.AUTHORITY, T.ALIAS FROM LA_ROLES T  ) T1
        LEFT JOIN (SELECT T3.USERNAME, T2.AUTHORITY, T4.ORGANIZATION_ID AS ORGID, T3.NICKNAME
        FROM LA_USER_ROLES T2 INNER JOIN la_users T3 ON T2.USERNAME = T3.USERNAME
        INNER JOIN la_user_organization T4 ON T3.USERNAME = T4.USERNAME)  T5
        ON T1.AUTHORITY = T5.AUTHORITY
        <where>
            T1.AUTHORITY = #{authority}
            <if test="orgId != null and orgId != ''">
                AND T5.ORGID = #{orgId}
            </if>
        </where>
    </select>

    <!-- 根据Id查询用户信息 -->
    <select id="selectUserByUsername" resultMap="UserResultMap">
		SELECT T.username, T.nickname, T.mobile, T.email, T.CREATE_DATE AS create_date, T.enabled, T.TENANT_ID,
            R.authority, R.alias, O.id As orgId, O.alias As orgAlias, T.EXPIRED_TIME
		FROM LA_USERS T
		LEFT JOIN LA_USER_ROLES UR ON UR.USERNAME = T.username
		LEFT JOIN LA_ROLES R ON R.authority = UR.authority
        LEFT JOIN LA_USER_ORGANIZATION UO ON T.username = UO.USERNAME
        LEFT JOIN LA_ORGANIZATION O ON O.id = UO.ORGANIZATION_ID
		WHERE T.username = #{username}
    </select>

    <!-- 根据Id查询用户信息 -->
    <select id="getPasswordById" resultType="com.lambda.fusion.authority.user.model.User">
        SELECT T.username, T.password FROM LA_USERS T WHERE T.username = #{username}
    </select>
    <!-- 保存用户 -->
    <insert id="insertUser" parameterType="com.lambda.fusion.authority.user.model.User">
        INSERT INTO LA_USERS (USERNAME, PASSWORD, NICKNAME, MOBILE, EMAIL, CREATE_DATE, ENABLED, TENANT_ID, CREATOR, EXPIRED_TIME)
        VALUES(#{username}, #{password}, #{nickname}, #{mobile,jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR},
        #{createDate, jdbcType=TIMESTAMP}, 1, #{tenant_Id, jdbcType=VARCHAR}, #{creator, jdbcType=VARCHAR}, #{expiredTime, jdbcType=TIMESTAMP})
    </insert>
    <!-- 更新用户 -->
    <update id="updateUser" parameterType="com.lambda.fusion.authority.user.model.User">
        UPDATE LA_USERS SET
            nickname = #{nickname},
            mobile = #{mobile, jdbcType=VARCHAR},
            email = #{email, jdbcType=VARCHAR},
            EXPIRED_TIME = #{expiredTime, jdbcType=TIMESTAMP}
        <if test="tenantId != null and tenantId != ''">
                ,TENANT_ID = #{tenant_id, jdbcType=VARCHAR}
        </if>
        WHERE username = #{username}
    </update>

    <!-- 保存用户角色 -->
    <insert id="addUserRoles" parameterType="com.lambda.fusion.authority.user.model.User">
        INSERT INTO LA_USER_ROLES (USERNAME, AUTHORITY) VALUES
        <foreach collection="authorities" item="role" separator=",">
            (#{username},#{role.authority})
        </foreach>
    </insert>
    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="HashMap">
        DELETE FROM LA_USERS WHERE username = #{username}
    </delete>
    <!-- 删除用户角色 -->
    <delete id="deleteUserRoles" parameterType="HashMap">
        DELETE FROM LA_USER_ROLES WHERE USERNAME = #{username}
    </delete>
    <!-- 检查用户名是否存在 -->
    <select id="hasExists" parameterType="String" resultType="boolean">
        SELECT COUNT(1) FROM DUAL WHERE EXISTS (SELECT 1 FROM LA_USERS T WHERE T.USERNAME = #{username})
    </select>
    <!-- 更新用户密码 -->
    <update id="updatePassword" parameterType="com.lambda.fusion.authority.user.model.User">
        UPDATE LA_USERS SET password = #{password} where username = #{username}
    </update>
    <!-- 禁用用户 -->
    <update id="deactivateUser" parameterType="HashMap">
        UPDATE LA_USERS SET enabled = #{enabled} WHERE username = #{username}
    </update>

    <select id="selectAllUsers" resultMap="UserResultMap">
        SELECT DISTINCT
        T.username, T.nickname, T.mobile, T.email, T.CREATE_DATE AS create_date, T.enabled,
        R.authority, R.alias, O.id As orgId, O.alias As orgAlias, T.EXPIRED_TIME
        FROM LA_USERS T
        LEFT JOIN LA_USER_ROLES U ON U.USERNAME = T.username
        LEFT JOIN LA_ROLES R ON R.authority = U.authority
        LEFT JOIN LA_USER_ORGANIZATION UO ON T.username = UO.USERNAME
        LEFT JOIN LA_ORGANIZATION O ON O.id = UO.ORGANIZATION_ID
    </select>

    <select id="selectOrgUsers" parameterType="string" resultMap="UserResultMap">
        SELECT
        T.username, T.nickname, T.mobile, T.email, T.CREATE_DATE AS create_date, T.enabled,
        R.authority, R.alias, O.id As orgId, O.alias As orgAlias
        FROM LA_USERS T
        LEFT JOIN LA_USER_ROLES U ON U.USERNAME = T.username
        LEFT JOIN LA_ROLES R ON R.authority = U.authority
        LEFT JOIN LA_USER_ORGANIZATION UO ON T.username = UO.USERNAME
        LEFT JOIN LA_ORGANIZATION O ON O.id = UO.ORGANIZATION_ID
        WHERE  UO.ORGANIZATION_ID = #{orgId}
    </select>
    <select id="selectUsernamesByOrg" resultType="java.lang.String">
        SELECT T.username FROM LA_USERS T
        INNER JOIN LA_USER_ROLES UR ON UR.USERNAME = T.username
        INNER JOIN LA_USER_ORGANIZATION UO ON T.username = UO.USERNAME
        WHERE UO.ORGANIZATION_ID = #{orgId}
        <if test="roleId != null and roleId != ''">
            AND UR.AUTHORITY = #{roleId}
        </if>
    </select>
    <resultMap id="Permission" type="com.lambda.fusion.authority.user.model.Permission">
        <id column="id" property="id"/>
        <result column="res_name" property="name"/>
        <result column="parentid" property="pid"/>
    </resultMap>
    <select id="selectUserPermissionsByIdsAndMode" resultMap="Permission">
        SELECT
            T1.id,
            T1.res_name,
            T1.parent_id
            FROM LA_RESOURCES T1
        WHERE T1.res_type != 0
        <if test="ids != null and ids.size > 0">
            AND T1.ID IN (
            SELECT DISTINCT  T.RESOURCE_ID  FROM LA_ROLE_RESOURCES T WHERE T.AUTHORITY IN
            <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
            )
        </if>
        <if test="mode != null and mode != ''">
            AND T1.res_mode = #{mode}
        </if>
        ORDER BY T1.RES_LEVEL, T1.parent_id, T1.orderno
    </select>
    <select id="selectUserPermissions" resultType="java.lang.String">
        SELECT DISTINCT  T.RESOURCE_ID  FROM LA_ROLE_RESOURCES T WHERE T.AUTHORITY = #{username}
    </select>


    <select id="selectRoleResources" resultType="com.lambda.fusion.authority.user.model.RoleResources">
        SELECT T.RESOURCE_ID,T.LA_MANAGE FROM LA_ROLE_RESOURCES T
        <where>
            <if test="authority != null and authority !='' ">
                T.AUTHORITY = #{authority}
            </if>
            <if test="manage != null and manage !='' ">
                AND T.LA_MANAGE = #{manage}
            </if>
            <if test="permissions != null and permissions.size > 0">
                AND  T.RESOURCE_ID  IN
                <foreach collection="permissions" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        group by  T.RESOURCE_ID ,T.LA_MANAGE
    </select>

    <insert id="saveUserPermission">
        INSERT INTO LA_ROLE_RESOURCES (resourceid, authority, tenantId, la_manage)
        VALUES (#{roleResources.resourceId}, #{uid}, #{tenant_id, jdbcType=VARCHAR},#{roleResources.laManage})
    </insert>

    <!-- 批量更新用户权限 -->
    <update id="batchUpdateUserPermissions">
        UPDATE LA_ROLE_RESOURCES SET LA_MANAGE = #{manage},TENANT_ID = #{tenant_id} WHERE AUTHORITY = #{uid} AND resourceid IN
        <foreach collection="permissions" open="(" close=")" separator="," item="item">
            #{item.resourceId}
        </foreach>
    </update>

    <select id="selectUserProfiles" resultType="com.lambda.fusion.authority.user.model.UserProfile">
        SELECT DISTINCT
            T1.USERNAME,
            T1.NICKNAME
        FROM LA_USERS T1
        LEFT JOIN LA_USER_ORGANIZATION T2 ON T1.USERNAME = T2.USERNAME
        <where>
            <if test="tenantId != null and tenantId !='' ">
                T1.TENANT_ID = #{tenant_id}
            </if>
            <if test="orgIds != null and orgIds.size > 0">
                AND T2.ORGANIZATION_ID IN
                <foreach collection="orgIds" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectUsernameByOrgId" resultType="java.lang.String">
        SELECT USERNAME FROM LA_USERS T1 INNER JOIN LA_USER_ORGANIZATION T2 ON T1.USERNAME = T2.USERNAME
        <where>
            <if test="type != null and type = 1">
                T2.ORGANIZATION_ID IN (SELECT T.ID FROM LA_ORGANIZATION T WHERE T.PARENT_KEYS LIKE CONCAT(CONCAT('%', #{orgId}), '%') OR T.ID = #{orgId})
            </if>
            <if test="type != null and type = 2">
               and T2.ORGANIZATION_ID = #{orgId}
            </if>
        </where>
    </select>


    <select id="selectUsersNoPage" resultMap="UserResultMap">
        SELECT DISTINCT(T.username), T.nickname, T.mobile, T.email, T.enabled, T.CREATE_DATE AS create_date,
        mi.USERNAME AS userid,
        mi.avatar,
        mi.remark,
        mi.identity_id ,
        mi.position ,
        mi.status,
        mi.emp_no,
        mi.dd_no,
        mi.wechat_no,
        mi.password_reset_required,
        o.orgid,
        o.alias as orgalias,
        r.authority,
        r.alias,
        mi.extend_param,
        TC.NICKNAME CREATOR
        FROM LA_USERS T
        LEFT JOIN LA_USER_INFO mi ON T.username = mi.USERNAME
        LEFT JOIN (SELECT  ur.AUTHORITY,mr.ALIAS,ur.USERNAME	FROM la_user_roles ur LEFT JOIN la_roles mr  ON ur.AUTHORITY = mr.AUTHORITY) R ON T.USERNAME = R.USERNAME
        LEFT JOIN (SELECT mo.ID orgId, uo.USERNAME, mo.alias FROM LA_USER_ORGANIZATION uo LEFT JOIN la_organization mo ON uo.ORGANIZATION_ID = mo.id WHERE mo.id is not null)  O ON T.USERNAME = O.USERNAME
        LEFT JOIN (SELECT NICKNAME, USERNAME FROM LA_USERS) TC ON  T.CREATOR = TC.USERNAME
        <if test="parameters != null and parameters.authority != null and parameters.authority != ''">
            LEFT JOIN LA_USER_ROLES UR ON UR.USERNAME = T.USERNAME
        </if>
        <if test="parameters.userFields != null and parameters.userFields.size >0">
            INNER JOIN
            (
            SELECT USERNAME,
            <foreach collection="parameters.userFields" item="item" separator=" ">
                MAX(CASE FIELD_NAME WHEN  #{item.fieldName} then field_value ELSE '' END) AS  ${item.fieldName},
            </foreach>
            count(*) NUMS
            FROM  LA_USER_FIELDS
            GROUP BY USERNAME
            )  A ON T.USERNAME = A.USERNAME
            AND
            <foreach collection="parameters.userFields" item="item" separator="AND">
                A.${item.fieldName} = #{item.fieldValue}
            </foreach>
        </if>
        <where>
            <if test="parameters != null">
                <choose>
                    <when test="parameters.tenantId != null and parameters.tenantId != ''">
                        T.TENANT_ID = #{parameters.tenantId}
                    </when>
                    <otherwise>
                        T.TENANT_ID is null
                    </otherwise>
                </choose>
                <if test="parameters.usernames != null and parameters.usernames.size > 0">
                    AND T.username IN <foreach collection="parameters.usernames" open="(" close=")" separator="," item="item">#{item}</foreach>
                </if>
                <choose>
                    <when test="!parameters.dev">
                        AND T.username NOT IN (SELECT USERNAME FROM LA_USER_ROLES WHERE authority IN ('ROLE_DEV', 'ROLE_SYSTEM') or AUTHORITY LIKE 'ROLE_TENANT@%')
                    </when>
                    <otherwise>
                        AND T.username NOT IN (SELECT USERNAME FROM LA_USER_ROLES WHERE AUTHORITY LIKE 'ROLE_TENANT@%')
                    </otherwise>
                </choose>
                <if test="parameters.nickname != null and parameters.nickname != ''">
                    AND T.nickname LIKE #{parameters.nickname}
                </if>
                <if test="parameters.mobile != null and parameters.mobile != ''">
                    AND T.mobile LIKE #{parameters.mobile}
                </if>
                <if test="parameters.email != null and parameters.email != ''">
                    AND T.email LIKE #{parameters.email}
                </if>
                <if test="parameters.authority != null and parameters.authority != ''">
                    AND UR.authority = #{parameters.authority}
                </if>
                <if test="parameters.orgIds != null and parameters.orgIds.size > 0">
                    AND O.orgId IN <foreach collection="parameters.orgIds" open="(" close=")" separator="," item="item">#{item}</foreach>
                </if>
            </if>
        </where>
        ORDER BY T.CREATE_DATE DESC, username asc
    </select>

    <!-- 根据租户ID，查询租户管理员用户列表 -->
    <select id="selectUsersByTenantId" parameterType="String" resultMap="TenantUser">
        SELECT T.username, T.nickname, T.mobile, T.email, T.CREATE_DATE AS createDate, T.enabled, T.TENANT_ID,
        UR.AUTHORITY AS authority, UO.ORGANIZATION_ID AS orgId
        FROM LA_USERS T
        INNER JOIN LA_USER_ROLES UR ON UR.USERNAME = T.username
        INNER JOIN LA_USER_ORGANIZATION UO ON T.username = UO.USERNAME
        <where>
            <if test="tenantId != null and tenantId != ''">
                AND UO.ORGANIZATION_ID = #{tenant_id}
            </if>
            AND UR.AUTHORITY = 'ROLE_TENANT'
        </where>
        ORDER BY T.USERNAME
    </select>

    <!-- 检查手机号是否已经绑定-->
    <select id="checkMobileExists" resultType="boolean">
        SELECT COUNT(1) FROM DUAL WHERE EXISTS(SELECT 1 FROM LA_USERS T WHERE T.MOBILE = #{mobile})
    </select>


    <select id="selectTenantIdByUsername" resultType="java.lang.String">
        SELECT T.TENANT_ID FROM LA_USER_ORGANIZATION UO
       INNER JOIN LA_USER_ROLES UR ON UR.USERNAME = UO.USERNAME
       INNER JOIN LA_TENANT T ON UO.ORGANIZATION_ID = T.TENANT_ID
        WHERE UR.AUTHORITY = 'ROLE_TENANT'
          AND UO.USERNAME = #{username}
    </select>
</mapper>
