<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.authority.user.mapper.UserInfoMapper">

    <select id="getProps" resultType="com.lambda.fusion.authority.user.domain.entity.UserInfoEntity">
        SELECT
            userid,
            avatar,
            remark,
            IDENTITY_ID,
            GROUP_NO,
            LINE_NO,
            POSITION,
            STATUS,
            FILA_NO,
            EMP_NO,
            DD_NO,
            DD_NICK,
            WECHAT_NO,
            ISUPDATEPWD AS updatePwd,
            EXTEND_PARAM,
            WECHAT_NAME
        FROM
            LA_USER_INFO
        WHERE
            userid = #{id}
    </select>

    <update id="updateStatus">
        UPDATE LA_USER_INFO
        SET ISUPDATEPWD = #{updatePwd}
        WHERE
            userid = #{userName}
    </update>
    <!--更改用户头像-->
    <update id="updateAvatar" parameterType="com.lambda.fusion.authority.user.domain.RestUserInfoParameter">
        UPDATE LA_USER_INFO
        SET AVATAR = #{avatar}
        WHERE
            userid = #{userName}
    </update>

</mapper>

