<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.dict.mapper.DictInfoMapper">

    <resultMap type="com.lambda.fusion.dict.model.DictInfo" id="MultiDictInfo">
        <result property="id" column="ID"/>
        <result property="dictType" column="DICT_TYPE"/>
        <result property="dictName" column="DICT_NAME"/>
        <result property="fieldType" column="FIELD_TYPE"/>
        <result property="fieldName" column="FIELD_NAME"/>
        <result property="sort" column="SORT_NO"/>
        <result property="remarks" column="REMARKS"/>
        <result property="tenantId" column="TENANT_ID"/>
        <result property="createdAt" column="created_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="enableState" column="ENABLE_STATE"/>
        <result property="selectable" column="SELECT_ABLE"/>
    </resultMap>

    <resultMap id="dictInfoGroupMap" type="com.lambda.fusion.dict.model.DictInfoGroup">
        <result property="dictType" column="dictType"/>
        <!-- 描述集合属性 -->
        <collection property="dictList" ofType="com.lambda.fusion.dict.model.DictInfo" >
            <result property="dictType" column="dictType"/>
            <result property="fieldType" column="fieldType"/>
            <result property="fieldName" column="fieldName"/>
            <result property="parentId" column="parentId"/>
            <result property="sort" column="sort_no"/>
            <result property="remarks" column="REMARKS"/>
            <result property="selectable" column="SELECT_ABLE"/>
        </collection>
    </resultMap>

    <select id="getAllDictInfoGroup" resultMap="dictInfoGroupMap">
        select dict_type as dictType,
        field_type as fieldType,
        field_name as fieldName,
        parent_id as parentId,
        remarks,
        tenant_id,
        select_able,
        sort_no from la_dict_info
        where enable_state = 1
        and (
        tenant_id is null
        <if test="tenantId != null and tenantId != ''">
            or tenant_id = #{tenantId}
        </if>
        )
        <if test="type !=null and type != ''">
            and dict_type  like #{type}
        </if>
        group by dict_type,field_type,field_name,parent_id,tenant_id,remarks,select_able,sort_no order by sort_no asc
    </select>

    <select id="page" parameterType="HashMap" resultType="com.lambda.fusion.dict.model.DictInfo">
        select di.id,
        di.dict_type ,
        di.field_type ,
        di.field_name ,
        di.sort_no,
        di.remarks,
        di.tenant_id,
        di.updated_at ,
        di.updated_by ,
        di.created_byuser ,
        di.created_at ,
        di.enable_state ,
        dt.dict_name,
        di.parent_id,
        di.parent_keys ,
        di.extra,
        di.select_able
        from la_dict_info di
        inner join la_dict_type dt on dt.dict_type = di.dict_type

    </select>

    <select id="getDictInfoList" resultType="com.lambda.fusion.dict.model.DictInfo">
        select di.id,
        di.dict_type ,
        di.field_type ,
        di.field_name ,
        di.sort_no,
        di.remarks,
        di.tenant_id,
        di.updated_at ,
        di.updated_by ,
        di.created_byuser ,
        di.created_at ,
        di.enable_state ,
        dt.dict_name,
        di.extra,
        di.select_able
        from la_dict_info di
        inner join la_dict_type dt on dt.dict_type = di.dict_type
        where di.dict_type = #{dictInfo.dictType}
        and (
            di.tenant_id is null
            <if test="dictInfo.tenantId != null and dictInfo.tenantId != ''">
                or di.tenant_id = #{dictInfo.tenantId}
            </if>
        )
        <if test="dictInfo.id != null and dictInfo.id != ''">
            and di.id = #{dictInfo.id}
        </if>
        <if test="dictInfo.parentId != null and dictInfo.parentId != ''">
            or di.parent_keys like #{dictInfo.parentId}
        </if>
        <if test="dictInfo.rank != null and dictInfo.rank != ''">
            <![CDATA[ and di.rank2 <= #{dictInfo.rank} ]]>
        </if>
    </select>
    <select id="treeList" resultType="com.lambda.fusion.dict.model.DictInfo">
        select di.id,
        di.dict_type ,
        di.field_type ,
        di.field_name ,
        di.sort_no,
        di.remarks,
        di.tenant_id,
        di.updated_at ,
        di.updated_by ,
        di.created_byuser ,
        di.created_at ,
        di.enable_state ,
        di.parent_id ,
        di.parent_keys ,
        di.extra,
        di.select_able
        from la_dict_info di
        inner join la_dict_type dt on dt.dict_type = di.dict_type
        where di.enable_state = 1
        and (
            di.tenant_id is null
            <if test="tenantId != null and tenantId != ''">
                or di.tenant_id = #{tenantId}
            </if>
        )
        and dt.id in
        <if test="ids != null and ids.size > 0">
            <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
        </if>
    </select>

    <select id="selectDictInfo" resultType="com.lambda.fusion.dict.model.DictInfo">
        select di.*
        from la_dict_info di
        inner join la_dict_type dt on dt.dict_type = di.dict_type
        ${ew.customSqlSegment}
    </select>
</mapper>