<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.dict.mapper.DictTypeMapper">

    <resultMap type="com.lambda.fusion.dict.model.DictTypeTree" id="MultiDictType">
        <result property="id" column="ID"/>
        <result property="dictType" column="DICT_TYPE"/>
        <result property="dictName" column="DICT_NAME"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="level" column="LEVEL"/>
        <result property="parentKeys" column="PARENT_KEYS"/>
        <result property="dataType" column="DATA_TYPE"/>
        <result property="dataTypeValue" column="DATA_TYPE_VALUE"/>
    </resultMap>

    <select id="getDictTypeList" parameterType="string" resultType="com.lambda.fusion.dict.model.DictTypeTree">
        select id, dict_type, dict_name, data_type, dict_usage, data_type_value  from la_dict_type
        <where>
            <if test="type != null and type != ''">
                dict_type like #{type}
            </if>
        </where>
        order by dict_type desc
    </select>


    <select id="selectParentByType" parameterType="string" resultType="com.lambda.fusion.dict.model.DictTypeTree">
        select * from la_dict_type t where t.id =
        (select (case when t2.parent_id is null then t2.id else t2.parent_id end) id  from la_dict_type t2 where t2.dict_type = #{type})
    </select>

    <!--suppress MybatisXMapperXmlInspection -->
    <select id="treeList" resultType="com.lambda.fusion.dict.model.DictTypeTree" databaseId="mysql">
        select t.* from la_dict_type t
        <where>
            <if test="parameters.userOnly != null and parameters.userOnly == true">
                and t.dict_usage = 1
            </if>
            <if test="parameters.id != null and parameters.id != ''">
                and t.id = #{parameters.id}
            </if>
            <if test="parameters.dataType != null">
                and t.data_type = #{parameters.dataType}
            </if>
            <if test="parameters.name != null and parameters.name != ''">
                and t.dict_name like #{parameters.name}
            </if>
            <if test="parameters.parentKeys != null and parameters.parentKeys != ''">
                or t.parent_keys like #{parameters.parentKeys}
            </if>
        </where>
        order by t.sort, convert(t.dict_name using gbk)
    </select>

    <!--suppress MybatisXMapperXmlInspection -->
    <select id="treeList" resultType="com.lambda.fusion.dict.model.DictTypeTree" databaseId="oracle">
            select t.* from la_dict_type t
            <where>
                <if test="parameters.userOnly != null and parameters.userOnly == true">
                    and t.dict_usage = 1
                </if>
                <if test="parameters.id != null and parameters.id != ''">
                    and t.id = #{parameters.id}
                </if>
                <if test="parameters.dataType != null">
                    and t.data_type = #{parameters.dataType}
                </if>
                <if test="parameters.name != null and parameters.name != ''">
                    and t.dict_name like #{parameters.name}
                </if>
                <if test="parameters.parentKeys != null and parameters.parentKeys != ''">
                    or t.parent_keys like #{parameters.parentKeys}
                </if>
            </where>
            order by t.level, nlssort(t.dict_name ,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>

    <!--suppress MybatisXMapperXmlInspection -->
    <select id="treeList" resultType="com.lambda.fusion.dict.model.DictTypeTree" databaseId="postgresql">
            select t.* from la_dict_type t
            <where>
                <if test="parameters.userOnly != null and parameters.userOnly == true">
                    and t.dict_usage = 1
                </if>
                <if test="parameters.id != null and parameters.id != ''">
                    and t.id = #{parameters.id}
                </if>
                <if test="parameters.dataType != null">
                    and t.data_type = #{parameters.dataType}
                </if>
                <if test="parameters.name != null and parameters.name != ''">
                    and t.dict_name like #{parameters.name}
                </if>
                <if test="parameters.parentKeys != null and parameters.parentKeys != ''">
                    or t.parent_keys like #{parameters.parentKeys}
                </if>
            </where>
            order by t.level, nlssort(t.dict_name ,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>


    <resultMap extends="MultiDictType" id="cascadeDictType" type="com.lambda.fusion.dict.model.DictTypeTree">
        <collection property="children" ofType="com.lambda.fusion.dict.model.DictTypeTree"
                    column="ID"
                    select="com.lambda.fusion.dict.mapper.DictTypeMapper.getChildrenDictType">
        </collection>
    </resultMap>

    <select id="getCascadeDictType" resultMap="cascadeDictType">
        select id, dict_type, dict_usage, dict_name, parent_id, level, parent_keys, data_type, data_type_value
        from la_dict_type
        <where>
            <if test="id!='' and id!=null">
                id = #{id}
            </if>
        </where>
    </select>

    <select id="getChildrenDictType" resultMap="cascadeDictType">
        select id, dict_type, dict_usage, dict_name, parent_id, level, parent_keys, data_type, data_type_value
        from la_dict_type
        where parent_id = #{id}
    </select>

</mapper>
