<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lambda.fusion.dict.mapper.DictInfoMapper">

    <resultMap type="com.lambda.fusion.dict.model.DictInfo" id="MultiDictInfo">
        <result property="id" column="ID"/>
        <result property="dictType" column="DICT_TYPE"/>
        <result property="dictName" column="DICT_NAME"/>
        <result property="fieldType" column="FIELD_TYPE"/>
        <result property="fieldName" column="FIELD_NAME"/>
        <result property="sort" column="SORT"/>
        <result property="notes" column="notes"/>
        <result property="tenantId" column="TENANT_ID"/>
        <result property="createTime" column="create_Time"/>
        <result property="createUser" column="create_User"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="updateUser" column="update_User"/>
        <result property="enableState" column="ENABLE_STATE"/>
        <result property="selectable" column="SELECT_ABLE"/>
    </resultMap>

    <resultMap id="dictInfoGroupMap" type="com.lambda.fusion.dict.model.DictInfoGroup">
        <result property="dictType" column="dictType"/>
        <!-- 描述集合属性 -->
        <collection property="dictList" ofType="com.lambda.fusion.dict.model.DictInfo" >
            <result property="dictType" column="dictType"/>
            <result property="fieldType" column="fieldType"/>
            <result property="fieldName" column="fieldName"/>
            <result property="parentId" column="parentId"/>
            <result property="sort" column="sort"/>
            <result property="notes" column="notes"/>
            <result property="selectable" column="SELECT_ABLE"/>
        </collection>
    </resultMap>

    <select id="getAllDictInfoGroup" resultMap="dictInfoGroupMap">
        SELECT DICT_TYPE AS dictType,
        FIELD_TYPE AS fieldType,
        FIELD_NAME AS fieldName,
        parentId,
        REMARKS,
        TENANT_ID,
        SELECT_ABLE,
        SORT FROM la_dict_info
        WHERE ENABLE_STATE = 1
        AND (
        TENANT_ID IS NULL
        <if test="tenantId != null and tenantId != ''">
            OR TENANT_ID = #{tenantId}
        </if>
        )
        <if test="type !=null and type != ''">
            AND DICT_TYPE  LIKE #{type}
        </if>
        GROUP BY DICT_TYPE,FIELD_TYPE,FIELD_NAME,parentId,TENANT_ID,REMARKS,SELECT_ABLE,SORT ORDER BY SORT ASC
    </select>

    <select id="page" parameterType="HashMap" resultType="com.lambda.fusion.dict.model.DictInfo">
        SELECT DI.ID,
        DI.DICT_TYPE ,
        DI.FIELD_TYPE ,
        DI.FIELD_NAME ,
        DI.SORT,
        DI.REMARKS,
        DI.TENANT_ID,
        DI.FOUND_TIME ,
        DI.FOUND_PEOPLE ,
        DI.UPDATE_TIME ,
        DI.UPDATE_PEOPLE ,
        DI.ENABLE_STATE ,
        DT.DICT_NAME,
        DI.PARENT_ID,
        DI.PARENT_KEYS ,
        DI.EXTRA,
        DI.SELECT_ABLE
        FROM la_dict_info DI
        INNER JOIN la_dict_type DT ON DT.DICT_TYPE = DI.DICT_TYPE

    </select>

    <select id="getDictInfoList" resultType="com.lambda.fusion.dict.model.DictInfo">
        SELECT DI.ID,
        DI.DICT_TYPE ,
        DI.FIELD_TYPE ,
        DI.FIELD_NAME ,
        DI.SORT,
        DI.REMARKS,
        DI.TENANT_ID,
        DI.FOUND_TIME ,
        DI.FOUND_PEOPLE ,
        DI.UPDATE_TIME ,
        DI.UPDATE_PEOPLE ,
        DI.ENABLE_STATE ,
        DT.DICT_NAME,
        DI.EXTRA,
        DI.SELECT_ABLE
        FROM la_dict_info DI
        INNER JOIN la_dict_type DT ON DT.DICT_TYPE = DI.DICT_TYPE
        WHERE DI.DICT_TYPE = #{dictInfo.dictType}
        AND (
            DI.TENANT_ID IS NULL
            <if test="dictInfo.tenantId != null and dictInfo.tenantId != ''">
                OR DI.TENANT_ID = #{dictInfo.tenantId}
            </if>
        )
        <if test="dictInfo.id != null and dictInfo.id != ''">
            AND DI.ID = #{dictInfo.id}
        </if>
        <if test="dictInfo.parentId != null and dictInfo.parentId != ''">
            OR DI.PARENT_KEYS LIKE #{dictInfo.parentId}
        </if>
        <if test="dictInfo.rank != null and dictInfo.rank != ''">
            <![CDATA[ AND DI.RANK2 <= #{dictInfo.rank} ]]>
        </if>
    </select>
    <select id="treeList" resultType="com.lambda.fusion.dict.model.DictInfo">
        SELECT DI.ID,
        DI.DICT_TYPE ,
        DI.FIELD_TYPE ,
        DI.FIELD_NAME ,
        DI.SORT,
        DI.REMARKS,
        DI.TENANT_ID,
        DI.FOUND_TIME ,
        DI.FOUND_PEOPLE ,
        DI.UPDATE_TIME ,
        DI.UPDATE_PEOPLE ,
        DI.ENABLE_STATE ,
        DI.PARENT_ID ,
        DI.PARENT_KEYS ,
        DI.EXTRA,
        DI.SELECT_ABLE
        FROM la_dict_info DI
        INNER JOIN la_dict_type DT ON DT.DICT_TYPE = DI.DICT_TYPE
        WHERE DI.ENABLE_STATE = 1
        AND (
            DI.TENANT_ID IS NULL
            <if test="tenantId != null and tenantId != ''">
                OR DI.TENANT_ID = #{tenantId}
            </if>
        )
        AND DT.ID IN
        <if test="ids != null and ids.size > 0">
            <foreach collection="ids" open="(" close=")" separator="," item="item">#{item}</foreach>
        </if>
    </select>

    <select id="selectDictInfo" resultType="com.lambda.fusion.dict.model.DictInfo">
        SELECT DI.*
        FROM la_dict_info DI
        INNER JOIN la_dict_type DT ON DT.DICT_TYPE = DI.DICT_TYPE
        ${ew.customSqlSegment}
    </select>
</mapper>
