<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lamuda.cloud.scaffold.dict.mapper.DictTypeMapper">

    <resultMap type="entity.com.lamuda.cloud.fx.dict.DictType" id="MultiDictType">
        <result property="id" column="ID"/>
        <result property="dictType" column="DICT_TYPE"/>
        <result property="dictName" column="DICT_NAME"/>
        <result property="parentId" column="PARENTID"/>
        <result property="level" column="RANK2"/>
        <result property="parentKeys" column="PARENTKEYS"/>
        <result property="dataType" column="DATA_TYPE"/>
        <result property="dataTypeValue" column="DATA_TYPE_VALUE"/>
    </resultMap>

    <select id="getDictTypeList" parameterType="string" resultType="entity.com.lamuda.cloud.fx.dict.DictType">
        SELECT ID, DICT_TYPE, DICT_NAME, DATA_TYPE, DICT_USAGE, DATA_TYPE_VALUE  FROM SYS_DICT_TYPE
        <where>
            <if test="type != null and type != ''">
                DICT_TYPE LIKE #{type}
            </if>
        </where>
        ORDER BY DICT_TYPE DESC
    </select>

    <select id="pageDictType" resultType="entity.com.lamuda.cloud.fx.dict.DictType">
        SELECT ID, DICT_TYPE, DICT_NAME, DATA_TYPE, DICT_USAGE, DATA_TYPE_VALUE FROM SYS_DICT_TYPE
        <where>
            <if test="parameters.dictName != null and parameters.dictName != ''">
                DICT_NAME LIKE #{parameters.dictName}
            </if>
        </where>
        ORDER BY DICT_TYPE DESC
    </select>

    <select id="selectParentByType" parameterType="string" resultType="entity.com.lamuda.cloud.fx.dict.DictType">
        SELECT * FROM SYS_DICT_TYPE T WHERE T.ID =
        (SELECT (CASE WHEN T2.PARENTID IS NULL THEN T2.ID ELSE T2.PARENTID END) ID  FROM SYS_DICT_TYPE T2 WHERE T2.DICT_TYPE = #{type})
    </select>

    <!--suppress MybatisXMapperXmlInspection -->
    <select id="treeList" resultType="entity.com.lamuda.cloud.fx.dict.DictType" databaseId="mysql">
        SELECT T.* FROM SYS_DICT_TYPE T
        <where>
            <if test="parameters.userOnly != null and parameters.userOnly == true">
                AND T.DICT_USAGE = 1
            </if>
            <if test="parameters.id != null and parameters.id != ''">
                AND T.ID = #{parameters.id}
            </if>
            <if test="parameters.dataType != null">
                AND T.DATA_TYPE = #{parameters.dataType}
            </if>
            <if test="parameters.name != null and parameters.name != ''">
                AND T.DICT_NAME LIKE #{parameters.name}
            </if>
            <if test="parameters.parentkeys != null and parameters.parentkeys != ''">
                OR T.PARENTKEYS LIKE #{parameters.parentkeys}
            </if>
        </where>
        ORDER BY T.RANK2, CONVERT(T.DICT_NAME USING gbk)
    </select>

    <!--suppress MybatisXMapperXmlInspection -->
    <select id="treeList" resultType="entity.com.lamuda.cloud.fx.dict.DictType" databaseId="oracle">
            SELECT T.* FROM SYS_DICT_TYPE T
            <where>
                <if test="parameters.userOnly != null and parameters.userOnly == true">
                    AND T.DICT_USAGE = 1
                </if>
                <if test="parameters.id != null and parameters.id != ''">
                    AND T.ID = #{parameters.id}
                </if>
                <if test="parameters.dataType != null">
                    AND T.DATA_TYPE = #{parameters.dataType}
                </if>
                <if test="parameters.name != null and parameters.name != ''">
                    AND T.DICT_NAME LIKE #{parameters.name}
                </if>
                <if test="parameters.parentkeys != null and parameters.parentkeys != ''">
                    OR T.PARENTKEYS LIKE #{parameters.parentkeys}
                </if>
            </where>
            ORDER BY RANK2, NLSSORT(T.DICT_NAME ,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>

    <!--suppress MybatisXMapperXmlInspection -->
    <select id="treeList" resultType="entity.com.lamuda.cloud.fx.dict.DictType" databaseId="postgresql">
            SELECT T.* FROM SYS_DICT_TYPE T
            <where>
                <if test="parameters.userOnly != null and parameters.userOnly == true">
                    AND T.DICT_USAGE = 1
                </if>
                <if test="parameters.id != null and parameters.id != ''">
                    AND T.ID = #{parameters.id}
                </if>
                <if test="parameters.dataType != null">
                    AND T.DATA_TYPE = #{parameters.dataType}
                </if>
                <if test="parameters.name != null and parameters.name != ''">
                    AND T.DICT_NAME LIKE #{parameters.name}
                </if>
                <if test="parameters.parentkeys != null and parameters.parentkeys != ''">
                    OR T.PARENTKEYS LIKE #{parameters.parentkeys}
                </if>
            </where>
            ORDER BY RANK2, NLSSORT(T.DICT_NAME ,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>


    <resultMap extends="MultiDictType" id="cascadeDictType" type="entity.com.lamuda.cloud.fx.dict.DictType">
        <collection property="children" ofType="entity.com.lamuda.cloud.fx.dict.DictType"
                    column="ID"
                    select="com.lamuda.cloud.scaffold.dict.mapper.DictTypeMapper.getChildrenDictType">
        </collection>
    </resultMap>

    <select id="getCascadeDictType" resultMap="cascadeDictType">
        SELECT ID, DICT_TYPE, DICT_USAGE, DICT_NAME, PARENTID, RANK2, PARENTKEYS, DATA_TYPE, DATA_TYPE_VALUE
        FROM SYS_DICT_type
        <where>
            <if test="id!='' and id!=null">
                ID = #{id}
            </if>
        </where>
    </select>

    <select id="getChildrenDictType" resultMap="cascadeDictType">
        select ID, DICT_TYPE, DICT_USAGE, DICT_NAME, PARENTID, RANK2, PARENTKEYS, DATA_TYPE, DATA_TYPE_VALUE
        from SYS_DICT_type
        WHERE PARENTID = #{id}
    </select>

</mapper>
