<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lambda.fusion.datascope.mapper.DataScopeMapper">
    <insert id="batchInsert">
        INSERT INTO la_datascopes (ID, TID, TARGET_TYPE, DOMAIN_TYPE, RANK_LEVEL, CHECKED, TENANT_ID)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.tid}, #{item.targetType}, #{item.domainType}, #{item.rankLevel}, #{item.checked}, #{item.tenantId})
        </foreach>
    </insert>
    
    <delete id="deleteByTarget">
        DELETE FROM la_datascopes 
        WHERE TID = #{targetId} 
        AND TARGET_TYPE = #{targetType} 
        AND DOMAIN_TYPE = #{domainType}
    </delete>

    <select id="selectByTypeAndId" resultType="com.lambda.fusion.datascope.model.DataScopeEntity">
        SELECT ID, TID, TARGET_TYPE, DOMAIN_TYPE, RANK_LEVEL, CHECKED, TENANT_ID
        FROM la_datascopes
        WHERE DOMAIN_TYPE = #{domainType}
          AND ID = #{id}
    </select>

    <delete id="deleteByTypeAndId">
        DELETE FROM la_datascopes
        WHERE DOMAIN_TYPE = #{domainType}
          AND ID = #{id}
    </delete>

    <delete id="deleteByTypeAndIdAndOwner">
        DELETE FROM la_datascopes
        WHERE DOMAIN_TYPE = #{domainType}
          AND ID = #{id}
          AND TID = #{targetId}
          AND TARGET_TYPE = #{targetType}
    </delete>
</mapper>
